*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 1.1rem;
}

nav{
    background-color: #ffff;
    position: relative;
    box-shadow: -1px 1px 6px #00000024;

    display: flex;
    align-items: flex-start;
}

nav a{
    text-decoration: none;
    color: black;
    padding: 1em;
    transition: .3s;
}

nav a:hover,
nav a[aria-selected]{
    color: rgb(62, 212, 231);
}

.separator{
    position: absolute;
    width: 100px;
    height: 4px;
    background-color: rgb(62, 212, 231);

    bottom: 0;
    left: 0;
    border-radius: 4px;

    transform-origin:  0 0;
}