/*---------------
Font
-----------------*/
@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap);
/*---------------
Global
-----------------*/
:root {
  --main-color: #ff6118;
  --purple: #11063b;
  --bg-dark: #2b2c2f;
  --main-to-dark-color: var(--main-color);
  --dark-to-main-color: var(--bg-dark);
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --black-900: #000000;
  --black-400: #555555;
  --black-100: #f7f7f7;
  --black-000: #ffffff;
  --black-alpha-100: rgba(0, 0, 0, 0.05);
  --back-color: #faf7f1;
  --back-color-2: #e0ddd7;
  --back-color-3: #263e5e;
}

body {
  font-family: "sora", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  overflow-x: hidden;
  background-color: var(--back-color);
  line-height: 1.5;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

ul {
  list-style: none;
}

a,
a:hover {
  text-decoration: none;
  color: var(--back-color);
}

.b {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 13px 35px;
  transition: all ease-in-out 0.3s;
  border: none;
}

.bg-transparent {
  background: transparent;
}

.bg-white {
  background: white;
}

.bg-purple {
  background: var(--purple);
}

.btn-purple {
  background: var(--purple) !important;
  color: white !important;
}

.bg-grey {
  background: #f0f3fa;
}

.btn-main {
  color: white;
  font-size: 0.75rem;
  background-color: var(--main-color);
  font-weight: 600;
  text-transform: capitalize;
  padding: 15px 25px;
  transition: all ease-in-out 0.4s;
}

.btn-ban {
  background-color: var(--purple);
  color: #ffffff;
}

.btn-ban:hover {
  background-color: #ffffff;
  color: var(--purple);
}

.section-padding {
  padding: 130px 0 !important;
}

.bg-main-blue {
  background-color: var(--main-color);
}

@keyframes ZoomInOut {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/* ----------------------------scrool icon ------------------------------ */
.scrool-to {
  height: 50px;
  width: 50px;
  bottom: 20px;
  right: 20px;
  position: fixed;
  display: none;
  background-color: var(--main-color);
  color: white;
  border-radius: 7px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  z-index: 2000;
  box-shadow: var(--shadow-black-100);
}

/* ------------------------------- preloaded ---------------------------- */
.preloaded {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-to-dark-color);
  z-index: 2100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloaded span {
  display: block;
  height: 60px;
  width: 60px;
  background-color: var(--dark-to-main-color);
  border-radius: 50%;
  animation: ZoomInOut 1s ease infinite;
}

/* ------------------------------- width page max size  ---------------------------- */
@media screen and (min-width: 1300px) {
  .has-max-width {
    padding-left: calc(50% - 650px);
    padding-right: calc(50% - 650px);
  }
}
/* ------------------------------- flex utilities  ---------------------------- */
.flex {
  display: flex;
}

.ai-center {
  align-items: center;
}

.jc-between {
  justify-content: space-between;
}

.jc-center {
  justify-content: center;
}

/* --------------------------------------
    HEADER
------------------------------------------ */
header {
  padding: 1rem;
  padding-top: 2rem;
}
header .logo {
  max-width: 265px;
  position: relative;
  top: -15px;
  width: 100%;
}
header .nav-bar {
  gap: 1rem;
}
header .nav-bar ul li a {
  display: block;
  font-size: 0.9rem;
  font-weight: 700;
  text-transform: capitalize;
  padding: 12px 25px;
  border-right: solid 1px var(--back-color-2);
  transition: all ease-in-out 0.3s;
  color: var(--back-color-3);
  opacity: 0.95;
}
header .nav-bar ul li:is(:last-of-type) a {
  border-color: transparent;
}
header .nav-bar ul li:hover a {
  color: var(--main-color);
  opacity: 1;
}
header .nav-bar ul li.active a {
  opacity: 1;
}
header .nav-bar .command {
  gap: 1rem;
}