/*---------------
Font
-----------------*/
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

/*---------------
Global
-----------------*/
:root {
  --main-color: #061e5c;
  --c-blue-400: #97bdff;
  --c-blue-500: #7cabff;
  --c-blue-600: #639cff;
  --c-blue-700: #4d8dff;
  --c-blue-800: #3880ff;
  --purple: #461af3;
  --color-1: #e91e63;
  --color-2: #f5ae10;
  --color-3: #09d69c;
  --bg-dark: #2b2c2f;
  --main-to-dark-color: var(--main-color);
  --dark-to-main-color: var(--bg-dark);
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --black-900: #000000;
  --black-400: #555555;
  --black-100: #f7f7f7;
  --black-000: #ffffff;
  --black-alpha-100: rgba(0, 0, 0, 0.05);
}
.section-blue {
  background-color: var(--c-blue-800);
  color: white;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #ffffff;
  line-height: 1.5;
  user-select: none;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
  color: var(--purple);
}
.navbar-collapse {
  justify-content: flex-end !important;
  margin-left: auto;
  flex-grow: inherit;
  flex-basis: inherit;
}
.btn {
  margin: 0;
  padding: 10px 15px;
  color: #000000;
  border-radius: 10px;
  transition: all ease-in-out 0.3s;
}
.btn-rounded {
  border-radius: 100px;
}
.btn:hover {
  box-shadow: var(--shadow-black-100);
}
.btn-header {
  background-color: var(--c-blue-700);
  color: #ffffff !important;
}
.btn-header:hover {
  background-color: var(--c-blue-600);
}

/* -------------------------------------------
NavBar
---------------------------------------------- */
.navbar.navbar-shrink {
  box-shadow: var(--shadow-black-100);
  background-color: rgba(255, 255, 255, 0.966);
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 0.7rem;
  padding-left: 0.7rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  text-transform: capitalize;
  font-size: 0.85rem;
  color: var(--black-900);
  transition: all ease-in-out 0.3s;
}
.navbar-expand-lg .navbar-nav .nav-link i {
  color: #bbb8b8;
  transition: all ease-in-out 0.3s;
}
.navbar-expand-lg .navbar-nav .nav-link:hover i,
.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: var(--c-blue-800);
}

/* -------------------------------------------
banner
---------------------------------------------- */
.banner {
  margin-top: 120px;
}
.banner .banner-text-content h1 {
  font-size: 3.6rem;
  font-weight: 700;
  color: var(--black-900);
  line-height: 65px;
}
.banner .banner-text-content h1 .lng {
  opacity: 1;
  position: relative;
  text-transform: capitalize;
}
.banner .banner-text-content h1 .lng:after {
  content: "";
  height: 4px;
  width: 100%;
  position: absolute;
  bottom: 2px;
  left: 0;
}
.banner .banner-text-content h1 .lng.vue {
  color: #42b983;
}
.banner .banner-text-content h1 .lng.vue:after {
  background: #42b98361;
}
.banner .banner-text-content h1 .lng.angular {
  display: none;
  opacity: 0;
  color: #ef4d4d;
}
.banner .banner-text-content h1 .lng.angular:after {
  background: rgba(239, 77, 77, 0.3);
}
.banner .banner-text-content h1 .lng.react {
  display: none;
  opacity: 0;
  color: #42ccff;
}
.banner .banner-text-content h1 .lng.react:after {
  background: rgba(89, 210, 255, 0.3);
}
#banner-img-2,
#banner-img-1 {
  opacity: 0;
  display: none;
}

.banner .banner-text-content p {
  font-size: 1.3rem;
  line-height: 33px;
}
.banner .banner-text-content .btn-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 50px;
}

.banner .banner-text-content .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 200px;
  padding: 12px 18px;
  font-size: 0.9rem;
}
.banner .banner-text-content .btn-transparent {
  color: var(--c-blue-700);
  font-size: 0.85rem;
}

/* ---------------------------------------

----------------------------------------- */
.f_ebook {
  margin-top: 120px;
}
.f_link_row {
  color: rgb(126, 131, 138);
}
.newsletter-form {
  margin-bottom: 80px;
}
.newsletter-form input {
  width: 100%;
  height: 43px;
  border-radius: 6px;
  padding-left: 40px;
  padding-right: 40px;
  border: solid 1px rgb(206, 214, 224);
  font-size: 0.76rem;
  text-transform: capitalize;
  transition: all ease-in-out 0.2s;
}
.newsletter-form input:hover {
  border: solid 1px var(--c-blue-700);
}
.newsletter-form i {
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.05rem;
  color: rgb(206, 214, 224);
}
.newsletter-form i:first-of-type {
  left: 15px;
}
.newsletter-form i:nth-of-type(2) {
  right: 10px;
  color: var(--c-blue-700);
}

.ebook_section {
  border-radius: 30px;
  height: 290px;
  overflow: hidden;
  background: linear-gradient(180deg, #0d2e55 0%, #001a3a 100%);
  margin-bottom: 100px;
}
.ebook_img img {
  width: 300px;
  box-shadow: 19px 20px 20px 20px rgba(0, 0, 0, 0.41);
  top: -110px;
  left: 72px;
}
.ebook_text p {
  font-size: 1.5rem;
  line-height: 30px;
  color: white;
  font-weight: 600;
}

/* ---------------------------------------------
how
---------------------------------------------- */
.how {
  margin-top: 250px;
  margin-bottom: 300px;
}
.title {
  margin-bottom: 40px;
}
.title h1 {
  font-weight: 700;
  font-size: 2.75rem;
}
.title h1:first-of-type {
  margin-bottom: 0;
  color: rgb(126, 131, 138);
}
.title p {
  width: 750px;
  font-size: 1.25rem;
  margin: 30px auto;
  color: #445b78;
}
.title small {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 35px;
  display: block;
  color: #c8c8c8;
}

.how-card {
  width: 89%;
  margin: 0 auto;
}
.how-card-img img {
  width: 100%;
  height: 240px;
}
.how-card-content h3 {
  font-size: 1.2rem;
  margin: 27px 0;
}
.how-card-content p {
  color: #445b78;
  font-size: 0.9rem;
}

/* ------------------------------------
Feature
--------------------------------------- */
.feature {
  margin-bottom: 150px;
}
.feature-text p {
  font-size: 1.165rem;
  line-height: 33px;
  color: #445b78;
}
.feature-text .btn {
  color: var(--c-blue-700);
  font-size: 1.2rem;
  padding: 10px 15px;
  margin-top: 10px;
}
.feature-grid {
}
.feature-grid .w-50 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.feature-grid h5 {
  color: #445b78;
}
.feature-grid h1 {
  font-size: 6rem;
  margin: 0 !important;
  font-weight: 600;
}
.feature-grid h1 span {
  font-size: 2rem;
}
.feature-grid p {
  color: #445b78;
  font-size: 0.95rem;
  font-weight: 500;
  margin: 0;
}
/* --------------------------------------------------------------------
Tech choice
-------------------------------------------------------------- */
.tech-choice {
  margin-bottom: 250px;
}
.tech-choice p {
  width: auto;
}
.tech-choice .tech-list {
  font-weight: 600;
  text-transform: uppercase;
}
.tech-choice .tech-list img {
  height: 25px;
  width: 25px;
  margin: 0 5px;
  opacity: 0.5;
  transition: all ease-in-out 0.3s;
}
.tech-choice .tech-list img:hover {
  opacity: 1;
}

/* ------------------------------------------------------------
component-
------------------------------------------------------------ */
.components-content {
  border-radius: 13px;
  margin-bottom: 200px;
  margin-top: 80px;
}
.code-content {
  width: 60%;
  background: #1c2b3e;
  border-radius: 10px 0 0 10px;
  overflow: hidden;
}
.previsualisation {
  width: 40%;
}
.code-content-header {
  background: #0b1521;
  border-radius: 10px 0 0 0;
  border: solid 1px #283a50;
  margin-bottom: 2rem;
  height: 53px;
}
.code-content-header ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}
.code-content-header ul li {
  padding: 15px 25px;
  color: white;
  opacity: 0.6;
  cursor: pointer;
  position: relative;
}
.code-content-header ul li.active,
.code-content-header ul li:hover {
  opacity: 1;
}
.code-content-header ul li.active {
  background-color: #1c2b3e;
  border-right: solid 1px #283a50;
}
.code-content-header ul li.active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  left: 0;
  bottom: -3px;
  background-color: #1c2b3e;
  z-index: 100;
}
.code-content-header div {
  right: 14px;
  top: 50%;
  font-weight: 600;
  transform: translateY(-50%);
  color: #3677e9;
  background-color: #6194ef63;
  padding: 4px 8px;
  font-size: 0.88rem;
  text-transform: uppercase;
}
.code-content-header div:hover {
  color: #3678e9ca;
}
.card-el {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.previsualisation-header {
  height: 53px;
  background: #f9fafc;
  border-bottom: 1px solid #e9edf3;
  border-radius: 0px 10px 0px 0px;
}
.previsualisation-header ul {
  margin: 0;
  position: relative;
  display: flex;
  background: #e9edf3;
  padding: 9px 0;
  border-radius: 6px;
}
.previsualisation-header ul div {
  width: 45%;
  left: 2%;
  height: 80%;
  transform: translateY(-50%);
  border-radius: 6px;
  top: 50%;
  background-color: white;
  transition: all ease-in-out 0.4s;
}
.previsualisation-header ul li {
  font-size: 0.8rem;
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  z-index: 1;
  cursor: pointer;
  width: 100px;
}
.previsualisation-content {
  height: calc(100% - 53px);
}

/* -----------------------------------------------------
Native section
-------------------------------------------------------- */
.native_functionalities {
  margin-bottom: 500px;
}
.native_functionalities .title {
  margin-bottom: 21px;
}
.native_functionalities .code-content-header {
  border-radius: 10px 10px 0 0;
}
.native_functionalities .code-content {
  width: 560px;
  height: 466px;
  overflow: inherit;
  border-radius: 10px;
}
.native_functionalities .code-content .funct-item-menu:first-of-type {
  border-radius: 10px 0 0 0;
}
.native_functionalities .code-content .funct-item-menu {
  font-size: 0.8rem;
  padding: 16px 25px;
  font-weight: 600;
}
#icon_code_preview {
  height: 140px;
  right: -12px;
  bottom: -81px;
}
/* -----------------------------------------------------
community section
-------------------------------------------------------- */
.community-img {
  top: -129px;
  width: 55%;
  left: -11%;
}
/* -----------------------------------------------------
Build section
-------------------------------------------------------- */
.build {
  margin-top: 450px;
  margin-bottom: 200px;
  background: linear-gradient(180deg, #fff 0, #f9fafb 100%);
}

.build .btn {
  color: var(--c-blue-700);
  font-size: 1.2rem;
  margin-top: 20px;
}
.integration-logo {
  height: 450px;
  position: relative;
  overflow: hidden;
}
.integration-logo ul {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
}
.integration-logo ul li {
  position: absolute;
  right: -100px;
}
.integration-logo img {
  border-radius: 50%;
  width: 125px;
  height: 125px;
}
/* -----------------------------------------------------
reviews section
-------------------------------------------------------- */
.reviews {
  margin-bottom: 200px;
}
.reviews .title {
  height: 330px;
}
.reviews .title .d-flex {
  padding-top: 78px;
  background: url(/assets/images/how-img/heart.png) no-repeat top center;
  background-size: 88px;
  text-align: center;
  display: block;
  font-size: 32px;
  line-height: 120%;
  letter-spacing: -0.03em;
}
.reviews .title .d-flex h1 {
  font-size: 1.8rem;
}
.reviews .title p {
  border-left: 0;
  font-family: "Adobe Caslon", Georgia, Times, "Times New Roman", serif;
  max-width: 784px;
  margin: 20px auto;
  margin-top: 40px;
  font-size: 22px;
  line-height: 37px;
  color: #5b708b;
  text-align: center;
  transition: 0.3s opacity;
}
.reviews .title p::before {
  position: absolute;
  content: "“";
  color: #dee3ea;
  font-size: 80px;
  top: 20px;
  left: -35px;
}

.review-item {
  cursor: pointer;
  opacity: 0.4;
}
.review-item.active {
  opacity: 1;
}
.review-item img {
  height: 45px;
}

.review-item .review-item-text {
  margin-left: 5px;
}
.review-item .review-item-text h5 {
  margin: 0;
  font-size: 1rem;
  text-transform: capitalize;
}
.review-item .review-item-text small {
  text-transform: capitalize;
  color: #5b708b;
}

.selector-item {
  height: 65px;
  left: 10px;
  width: 205px;
  background-color: transparent;
  box-shadow: var(--shadow-black-100);
  border-radius: 100px;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  transition: all ease-in-out 0.3s;
}

/* -----------------------------------------------------
start section
-------------------------------------------------------- */
.start {
  padding: 100px 0;
}
.start h1 {
  font-size: 1.9rem;
  font-weight: 700;
  margin-bottom: 5px;
}
.start p {
  font-size: 1.1rem;
}
.start .btn {
  background-color: white;
  color: var(--c-blue-700) !important;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 1px;
}

/* -----------------------------------------------------
sociatie section
-------------------------------------------------------- */
.sociatie .sociatie-item {
  padding: 50px 0;
  padding-top: 120px;
  cursor: pointer;
  position: relative;
}
.sociatie .sociatie-item:hover i {
  color: var(--c-blue-800);
  top: 24px;
}
.sociatie .sociatie-item i {
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4.5rem;
  margin-bottom: 25px;
  color: #355070;
  transition: all ease-in-out 0.2s;
  position: absolute;
}
.sociatie .sociatie-item h5 {
  margin: 0;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.sociatie .sociatie-item p {
  color: #73849a;
  font-weight: 500;
}
.sociatie .sociatie-item p::first-letter {
  text-transform: uppercase;
}

/* --------------------------------------------------------
Footer
---------------------------------------------------------- */
footer {
  padding-top: 80px;
  padding-bottom: 30px;
}

footer .icon-section img {
  width: 40px;
}
footer .footer-list {
  /* margin: 0 35px; */
}

footer .footer-list .footer-title {
  padding-bottom: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: capitalize;
}
footer .footer-list .list-item {
  font-weight: 400;
}
footer .footer-list .list-item a {
  display: block;
  padding: 5px 0;
  color: #73849a;
  transition: all ease-in-out 0.25s;
}
footer .footer-list .list-item a:hover {
  color: var(--c-blue-800);
}
footer .newsletter-section {
  margin-bottom: 30px;
  margin-top: 50px;
}
footer .newsletter-left-section img {
  height: 40px;
}
footer .newsletter-left-section p {
  font-size: 1.06rem;
  font-weight: 600;
  margin-bottom: 5px;
}
footer .newsletter-left-section small {
  font-size: 0.93rem;
  font-weight: 500;
  color: #73849a;
}
footer input {
  width: 100%;
  height: 50px;
  box-shadow: var(--shadow-black-100);
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 0.85rem;
  position: relative;
  color: #73849a;
}
footer input::placeholder {
  color: #73849a;
}
footer .newsletter-section i {
  color: var(--c-blue-800);
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}
footer .input_news:after,
footer .input_news:before {
  content: "";
  position: absolute;
  height: 40px;
  width: 45px;
  background-color: var(--c-blue-400);
  top: 0;
  left: 0;
}

footer .copyright {
  font-size: 0.85rem;
  color: #73849a;
  opacity: 0.5;
}
footer .copyright ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .icons-societi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .icons-societi a {
  color: #73849a;
  opacity: 0.5;
}
