@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap");
:root {
  --main-clr: #02C173;
  --dark: #060707;
  --blanc: #ffffff;
  --bg-gradient: #0C1A11;
  --elipse: #15D989;
  --text-clr: #C1CCC7;
  --koala-back: linear-gradient(93.3deg, #06CB7A 0%, #069359 100%);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 135%;
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
}

body {
  font-weight: 400;
  font-size: 1rem;
  color: var(--text-clr);
  font-family: 'IBM Plex Mono', monospace;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: var(--bg-gradient);
}

body .backdrop {
  position: absolute;
  width: 362px;
  height: 362px;
  left: -127px;
  top: -140px;
  border-radius: 100%;
  z-index: -15;
  background-color: var(--main-clr);
}

body::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: rgba(12, 26, 17, 0.7);
  -webkit-backdrop-filter: blur(75px);
          backdrop-filter: blur(75px);
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 80px;
}

header,
header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  color: var(--blanc);
}

header .logo span {
  color: var(--main-clr);
}

header .menu a {
  display: block;
  margin: 0 20px;
  color: var(--text-clr);
  font-size: 14px;
  text-transform: uppercase;
}

.main {
  padding: 0 80px;
  padding-top: 60px;
}

.main,
.main .hero-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .hero-text {
  margin-right: 109px;
}

.main .hero-text h1 {
  font-weight: 700;
  font-size: 64px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.main .hero-text h1 span {
  color: var(--main-clr);
}

.main .hero-text p {
  margin: 20px 0;
  font-size: .8rem;
  line-height: 150%;
}

.main .hero-text .btn {
  width: 138px;
  height: 138px;
  font-weight: 500;
  margin-top: 3rem;
  font-size: 1rem;
  position: relative;
}

.main .hero-text .btn span {
  position: absolute;
  left: 50%;
  -webkit-transform-origin: 0 69px;
          transform-origin: 0 69px;
}

.main .hero-text .btn span.clr {
  color: var(--main-clr);
}

.main .hero-text .btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 33.33px;
  height: 20px;
}

.main .hero-img .koala-overlay {
  width: 580px;
  height: 580px;
}

.main .hero-img .koala-overlay img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main .hero-img .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40px;
}

.main .hero-img .social-icons img {
  margin: 5px 0;
  width: 40px;
  height: 40px;
}
/*# sourceMappingURL=style.css.map */