/* ---------------------
Import
--------------------------------*/
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap";

/*---------------
Global
-----------------*/
:root {
  --main-color: #0167f3;
  --blue-black: #081828;
  --color-1: #e91e63;
  --color-2: #f5ae10;
  --color-3: #09d69c;
  --bg-dark: #2b2c2f;
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --black-900: #000000;
  --black-400: #555555;
  --black-100: #f7f7f7;
  --black-000: #ffffff;
  --black-alpha-100: rgba(0, 0, 0, 0.05);
}
body {
  font-family: "Manrope", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #ffffff;
  line-height: 1.5;
  user-select: none;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
  margin: 0;
}
a {
  text-decoration: none;
  color: var(--bg-dark);
}
a:hover {
  color: var(--main-color) !important;
  text-decoration: none;
}

.icon-circle {
  height: 40px;
  width: 40px;
  border: solid 1px #ebe7e7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
  font-size: 0.9rem;
}
.icon-circle:hover {
  background-color: var(--main-color);
  color: white;
  border: solid 1px var(--main-color);
}
.icon-circle:hover a {
  color: white;
}
.icon-circle a {
  transition: all ease-in-out 0.4s;
}
.icon-circle .icon-badge {
  height: 18px;
  width: 18px;
  background: var(--blue-black);
  color: white;
  font-size: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: 50%;
  top: -5px;
  right: -5px;
}
.icon-circle .icon-badge p {
  padding: 0;
  margin: 0;
}
@keyframes ZoomInOut {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.btn {
  display: block;
  width: fit-content;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 0.9rem;
  transition: all ease-in-out 0.3s;
}
.btn.btn-white {
  background: white;
  color: var(--main-color);
}
.btn.btn-blue {
  background: var(--main-color);
  color: white;
}
.btn.btn-white:hover {
  color: white;
  background: var(--main-color);
}
.btn.btn-blue:hover {
  background: var(--blue-black);
}
.section-grey {
  background-color: #f9f9f9;
}
.section-padding {
  padding: 80px 0;
}
.section-title {
  max-width: 70%;
}
.section-title h3 {
  font-weight: 800;
  font-size: 2rem;
  line-height: 80px;
  position: relative;
  width: fit-content;
  margin: 0 auto;
}
.section-title h3::before {
  content: "";
  position: absolute;
  width: 30%;
  height: 2.8px;
  background-color: var(--main-color);
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
}

.section-title p {
  margin-top: 20px;
  line-height: 25px;
}
/* -----------------------------
preloader
-------------------------------- */
.preload {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 2100;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.preload-inner {
  display: block;
  height: 70px;
  width: 70px;
  background-color: var(--main-color);
  border-radius: 50%;
  animation: ZoomInOut 1s ease infinite;
}

/*----------------------------------
 Header
 ----------------------------------- */
header .top-bar {
  background-color: var(--blue-black);
  padding: 18px 0;
  font-size: 0.9rem;
}
header .top-bar,
header .top-bar a {
  color: white;
  transition: all ease-in-out 0.3s;
}
header .top-bar select {
  background: transparent;
  border: none;
  color: white !important;
  text-transform: uppercase;
}
header .top-bar select:first-of-type {
  margin-right: 20px;
}
header .top-bar .top-bar-menu {
  align-items: center;
  justify-content: center;
}
header .top-bar .top-bar-menu .top-bar-menu-item {
  position: relative;
}
header .top-bar .top-bar-menu .top-bar-menu-item .top-bar-menu-link {
  display: block;
  padding: 0 16px;
}
header .top-bar .auth a {
  display: block;
  padding: 0 10px;
  position: relative;
}
header .top-bar .auth a:first-of-type:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 1px;
  background-color: #ffffff;
  right: 0;
}
header .header-middle {
  padding: 25px 0px;
}
header .header-middle img {
  max-width: 100%;
  width: 200px;
}
header .header-middle input {
  padding: 10px 15px;
  display: block;
  width: 250px;
  border-left: none;
  border-right: none;
  border-top: solid 1px #ebe7e7;
  border-bottom: solid 1px #ebe7e7;
  height: 47px;
  text-transform: capitalize;
}
header .header-middle select {
  padding: 11px;
  height: 47px;
  width: 115px;
  border: solid 1px #ebe7e7;
  border-radius: 5px 0px 0px 5px;
}
header .header-middle button {
  padding: 12px 15px;
  height: 47px;
  border: none;
  color: white;
  background: var(--main-color);
  border-radius: 0px 5px 5px 0px;
}
header button:focus {
  outline: inherit;
  outline: inherit;
}
header .phone-section p:first-of-type {
  font-weight: 600;
}
header .phone-section p:last-of-type {
  font-size: 0.9rem;
  color: #9b9797;
}

header .bottom-header {
  border-top: solid 1px #ebe7e7;
  border-bottom: solid 1px #ebe7e7;
}
header .categorie-menu {
  border-right: solid 1px #ebe7e7;
  position: relative;
  padding: 20px 25px;
  cursor: pointer;
  font-weight: 600;
  display: block;
  width: 250px;
  overflow: hidden;
}
header .cat-list .subcat .subcat-menu,
header .menu-list .menu-submenu .submenu,
header .categorie-menu .cat-list {
  position: absolute;
  left: 0;
  width: 100%;
  top: 45px;
  box-shadow: var(--shadow-black-100);
  background-color: white;
  padding: 15px 0;
  font-weight: normal;
  /* display: none; */
  opacity: 0;
  transition: all ease-in-out 0.2s;
  z-index: 200000;
}
header .menu-list .menu-submenu:hover,
.categorie-menu:hover{
  overflow: visible;
}
header .menu-list .menu-submenu:hover .submenu,
header .categorie-menu:hover .cat-list {
  opacity: 1;
  top: 65px;
}
header .categorie-menu .cat-item {
  position: relative;
}
header .categorie-menu .cat-link {
  padding: 8px 15px;
  display: block;
  width: 100%;
  font-size: 0.9rem;
  font-weight: 500;
}
header .b-left {
  width: calc(100% - 250px);
}
header .menu-list {
  padding-left: 30px !important;
}
header .cat-list .subcat:hover .subcat-menu {
  right: -253px !important;
  opacity: 1;
}
header .cat-list .subcat .subcat-menu {
  position: absolute;
  opacity: 0;
  left: inherit;
  top: 0;
  right: -258px !important;
  z-index: 1000;
}
header .cat-list .subcat {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
}
header .cat-list .subcat .subcat-link {
  padding: 5px 15px;
  display: block;
  width: 100%;
}
header .cat-list .subcat i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 50px;
}

header .menu-list .menu-submenu .menu-submenu-item,
header .menu-list .menu-list-item {
  padding: 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
  position: relative;
}

header .menu-list .menu-submenu .menu-submenu-link,
header .menu-list .menu-list-link {
  position: relative;
  display: block;
  padding-right: 10px;
}
header .menu-list .menu-submenu i {
  position: absolute;
  right: 8px;
  top: 60%;
  transform: translateY(-50%);
}
header .menu-list .menu-submenu .submenu {
  min-width: 250px;
  top: 40px;
}
header .menu-list .menu-submenu .menu-submenu-item {
  justify-content: start;
}

header .menu-list .menu-submenu .menu-submenu-link {
  padding: 5px 10px;
}
header .menu-list .menu-submenu:hover .submenu {
  opacity: 1;
  top: 44px;
}

header .follow-link span {
  font-size: 0.9rem;
  font-weight: 500;
}
header .follow-link .icon-circle {
  height: 35px;
  width: 35px;
}

/* ----------------------------------------------------
Hero
------------------------------------------------------- */
.banner {
  /* height: 80vh; */
  height: auto;
  max-height: 100vh;
}
.banner .text-over {
  top: 50%;
  transform: translateY(-50%);
  left: 35px;
  width: 80%;
}
.banner .text-over p {
  color: grey;
  font-size: 0.95rem;
  font-weight: 500;
}
.banner .text-over h5 {
  color: var(--main-color);
  font-weight: 900;
  margin-top: 5px;
}
.banner .text-over h6 {
  font-size: 1.3rem;
  font-weight: 700;
  margin: 3px 0;
}

.quick-shop .text-over p {
  color: white;
  font-weight: 500;
  font-size: 1.05rem;
  margin-top: 9px;
}
.quick-shop .text-over p:first-of-type {
  font-size: 1.3rem;
  font-weight: 800;
}
.banner .quick-shop,
.banner .week-shop {
  height: 230px;
}
.banner .week-shop img {
  height: -webkit-fill-available;
}
.banner .quick-shop {
  background-image: url("../images/hero/small-banner-bg.png");
  background-color: var(--blue-black);
}
.banner .banner-card {
  height: 486px;
  display: block;
  width: 100%;
}
.banner .banner-card .text-over {
  width: 345px;
  max-width: 100%;
  left: 50px;
}
.banner .banner-card .text-over p:nth-of-type(3),
.banner .banner-card .text-over p:first-of-type {
  font-size: 1.1rem;
  font-weight: 600;
}
.banner .banner-card .text-over h6 {
  font-size: 2rem;
  margin: 10px 0;
  font-weight: 900;
}
.banner .banner-card .text-over p:nth-of-type(2) {
  font-size: 0.93rem;
  line-height: 25px;
  margin-top: 20px;
}
.banner .banner-card .text-over p:nth-of-type(3) {
  font-size: 1.025rem;
  align-items: flex-end;
}
.banner .banner-card .text-over p:nth-of-type(3) span {
  font-size: 1.455rem;
  font-weight: 900;
  color: var(--blue-black);
}

.banner .banner-card .btn {
  padding: 10px 30px;
}

.banner .carousel-btn {
  display: flex;
  justify-content: end;
  align-items: center;
  font-weight: 900;
  font-size: 1.5rem;
  color: white;
  background-color: var(--main-color);
  height: 60px;
  width: 50px;
  z-index: 500;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.banner .carousel-btn:hover {
  color: white;
  background: var(--blue-black);
}
.banner .carousel-btn.prev-btn {
  left: -50px;
  border-radius: 0px 5px 5px 0px;
  padding-right: 14px;
}
.banner .carousel-btn.next-btn {
  border-radius: 5px 0 0 5px;
  padding-right: 22px;
  right: -50px;
}
.banner .col-md-8:hover .carousel-btn.prev-btn {
  left: -12px;
}
.banner .col-md-8:hover .carousel-btn.next-btn {
  right: -12px;
}

/* ----------------------------------------------------
Featured categories section
------------------------------------------------------- */

.categorie-card-item {
  border: 1px solid #dee2e6 !important;
  border-radius: 5px;
  transition: all ease-in-out 0.3s;
  width: 100%;
  margin: 15px 0;
  padding: 1.5rem !important;
  /* padding-right: 0rem !important; */
}
.categorie-card-item:hover {
  box-shadow: var(--shadow-black-100);
  border: none !important;
  background-color: var(--main-color);
  color: white !important;
}
.categorie-card-item:hover .card-text a {
  color: white;
}
.categorie-card-item img {
  transition: all ease-in-out 0.5s;
  height: 165px;
}

.categorie-card-item:hover img {
  transform: rotateY(360deg);
}

.categorie-card-item .card-text {
  top: 50%;
  transform: translateY(-50%);
  left: 2rem;
}
.categorie-card-item .card-text h5 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 15px;
}
.categorie-card-item .card-text a {
  margin: 2px 0;
  display: block;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 500;
  color: #5f5c5c;
  transition: all ease-in-out 0.4s;
}
.categorie-card-item .card-text a:hover {
  padding-left: 5px;
  color: white !important;
}

/* -----------------------------------------------------
Trending section
-------------------------------------------------------- */
.product-item {
  box-shadow: var(--shadow-black-100);
  border-radius: 2px;
  margin: 15px 0;
}
.product-item .flag {
  left: 0;
  font-size: 0.7rem;
  border-radius: 2px;
  color: white;
  font-weight: 600;
  padding: 5px 8px;
}
.product-item .image-section {
  overflow: hidden;
  margin-bottom: 15px;
}
.product-item .image-section img {
  transition: all ease-in-out 0.4s;
}
.product-item:hover .image-section img {
  transform: scale(1.2);
}

.product-item .btn {
  transition: all ease-in-out 0.4s;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 0.8rem;
  text-transform: capitalize;
}
.product-item:hover .btn {
  top: 70%;
}
.product-item .product-info {
  padding-left: 15px;
}
.product-item .product-info h6 {
  font-size: 0.85rem;
  font-weight: 700;
  color: #bdb7b7;
}
.product-item .product-info a {
  font-size: 1rem;
  font-weight: 700;
  display: block;
  margin-bottom: 5px;
}
.product-item .product-info .rate-section {
  font-size: 0.85rem;
}
.product-item .product-info .rate-section .star-list i {
  color: gold;
}
.product-item .product-info .rate-section .rate-val {
  color: #bdb7b7;
  font-weight: 500;
}
.product-item .product-info h5 {
  color: var(--main-color);
  font-size: 1.1rem;
  font-weight: 700;
}

/* -----------------------------------------------------
Watchs section
-------------------------------------------------------- */
.watch-shop {
  border-radius: 7px;
  transition: all ease-in-out 0.4s;
}
.watch-shop:hover {
  box-shadow: var(--shadow-black-100);
}
.watch-shop img {
  border-radius: 7px;
}
.watch-shop .text-over {
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
  width: 50%;
  font-size: 0.8rem;
}
.watch-shop .text-over h6 {
  color: var(--blue-black);
  font-size: 1.3rem;
  font-weight: 700;
}
.watch-shop .text-over p {
  margin: 17px 0 !important;
  line-height: 20px;
  font-weight: 600;
  color: var(--black-400);
}
.watch-shop .text-over .btn {
  font-size: 0.85rem;
}

/* -----------------------------------------------------
Special offer section
-------------------------------------------------------- */
.special-offer .watch-shop .text-over {
  right: 60px !important;
  left: inherit;
}
.offer-product .flag {
  height: 40px;
  width: 40px;
  left: inherit;
  right: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.offer-product .product-info h6 {
  font-weight: normal;
  line-height: 25px;
}
.offer-product .info .timing div {
  margin: 0 18px;
}
.offer-product .info .timing h5 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 7px;
}
.offer-product .info .timing h6 {
  margin: 0;
  font-size: 0.7rem;
  font-weight: 600;
}

/* --------------------------------------------------------
Best seller section
----------------------------------------------------------- */
.bestSeller .bestSeller-title h2 {
  font-size: 0.95rem;
  font-weight: normal;
  text-transform: capitalize;
}
.bestSeller .bestSeller-title::before {
  content: "";
  height: 1px;
  width: 100px;
  left: 0;
  bottom: 0;
  background-color: var(--main-color);
  position: absolute;
}
.bestSeller .bestSeller-content .bs-item {
  font-weight: 500;
  font-size: 0.83rem;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}
.bestSeller .bestSeller-content .bs-item .img {
  width: 50px;
  margin-right: 15px;
}
.bestSeller .bestSeller-content .bs-item .img img {
  max-width: 100%;
  object-fit: contain;
}

.bestSeller .bestSeller-content .bs-item p {
  color: #9b9797;
  margin: 0;
  font-size: 0.8rem;
}

/* --------------------------------------------------------
Brand section start
----------------------------------------------------------- */
.brand h3 {
  font-size: 1.4rem;
}
.brand .brand-item {
  padding: 10px 0;
}
.brand .brand-item img {
  filter: opacity(0.8);
  transition: all ease-in-out 0.3s;
  max-width: 60%;
  display: block;
  margin: 0 auto;
}
.brand .brand-item:hover img {
  filter: opacity(1);
}

/* --------------------------------------------
News section
--------------------------------------------- */
.new-card {
  background: white;
  box-shadow: var(--shadow-black-100);
  border-radius: 10px;
  padding: 10px;
  padding-bottom: 30px;
}
.new-card:hover img {
  transform: scale(1.1);
}
.new-card .new-img {
  overflow: hidden;
}
.new-card .new-img img {
  object-fit: contain;
  max-width: 100%;
  transition: all ease-in-out 0.26s;
}
.new-card .news-content {
  padding-left: 17px;
  padding-top: 20px;
}
.new-card .news-content .title {
  font-weight: 700;
  font-size: 1.1rem;
  display: block;
  margin-bottom: 10px;
}
.new-card .news-content h4 {
  font-size: 0.85rem;
  color: #9b9797;
}
.new-card .news-content p {
  font-size: 0.88rem;
  font-weight: 400;
}
.new-card .news-content .btn {
  background-color: transparent;
  border: solid 1px #9b9797;
  color: #1b1818ca;
}
.new-card .news-content .btn:hover {
  background-color: var(--main-color);
  color: white !important;
  border: solid 1px var(--main-color);
}

/* ----------------------------------------
shipping
-------------------------------------------- */
.shipping-card {
  background-color: transparent;
  transition: all ease-in-out 0.3s;
}
.shipping-card:hover {
  background-color: white;
}
.shipping-card .shipping-content {
}
.shipping-card .shipping-content i {
  font-size: 2rem;
  color: var(--main-color);
  margin-bottom: 15px;
}
.shipping-card .shipping-content h5 {
  font-size: 0.85rem;
  font-weight: bolder;
  margin: 0;
  margin-bottom: 3px;
}
.shipping-card .shipping-content h6 {
  font-size: 0.8rem;
}

/* ----------------------------------------
footer
-------------------------------------------- */
footer {
  background-color: var(--blue-black);
  color: #dee2e6 !important;
  font-size: 0.9rem;
}

footer .newsletter {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 70px;
  padding-bottom: 50px;
}
footer .newsletter img {
  width: 250px;
}
footer .newsletter .newsletter-text h5 {
  margin-bottom: 3px;
  font-size: 1.1rem;
  font-weight: 600;
  color: white !important;
}
footer .newsletter .newsletter-text p {
  margin: 0;
  font-weight: normal;
  font-size: 0.85rem;
}
footer .newsletter .newsletter-form input {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
  width: 250px;
  background-color: #ffffff30;
  color: white !important;
}
footer .newsletter .newsletter-form input::placeholder {
  color: white;
  font-size: 0.8rem;
}
footer .newsletter .newsletter-form button:hover {
  background-color: white;
  color: var(--blue-black);
}
footer .footer-midle {
  padding-bottom: 50px;
  margin-bottom: 50px;
}

footer .footer-item h5 {
  margin-bottom: 30px;
  padding-bottom: 15px;
  position: relative;
  font-size: 1rem;
}
footer .footer-item h5:before {
  content: "";
  position: absolute;
  width: 50px;
  height: 3px;
  background-color: var(--main-color);
  border-radius: 5px;
  bottom: 0;
  left: 0;
}
footer p {
  margin: 0;
  margin-bottom: 10px;
  line-height: 20px;
}

footer .footer-item .email {
  color: white;
}
footer .btn-light {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff30;
  border: none;
  padding: 20px 30px;
  color: white;
}
footer .btn-light i {
  font-size: 1.2rem;
}
footer .btn-light p {
  margin-left: 12px !important;
  line-height: 20px;
}
footer .footer-item li a {
  display: block;
  width: 100%;
  /* padding: 5px 0; */
  padding-bottom: 13px;
  color: white;
  transition: all ease-in-out 0.4s;
  text-transform: capitalize;
}
footer .footer-item li a:hover {
  padding-left: 5px;
}
footer .footer-item li a:first-of-type {
  padding-top: 0 !important;
}

footer .footer-bottom i {
  position: relative;
  font-size: 0.8rem;
}
footer .footer-bottom .follow-links .d-flex div {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: 0 4px;
  align-items: center;
  transition: all ease-in-out 0.4s;
}
footer .footer-bottom .follow-links .d-flex div:hover {
  background-color: var(--main-color);
}
