@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

:root{
    --black: #313131;
}


*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    max-width: 100%;
    object-fit: contain;
    display: block;
}
a{
    text-decoration: none;
    color: var(--black);
}

ul{
    list-style: none;
}

.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.d-flex{
    display: flex;
    flex-wrap: nowrap;
}
.flex-between{
    justify-content: space-between;
}
.flex-start{
    justify-content: flex-start;
}
.align-center{
    align-items: center;
}
.text-bg{opacity: .7;}
.bold{font-weight: 700;}
.border{
    border: solid 1px #D6D6D6;
}
.rounded{
    border-radius: 5px;
}
body{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    color: var(--black);
    line-height: 28px;
    font-weight: 400;
    font-style: normal;
    min-height: 100vh;

    padding: 84px;
}

.title{
    padding-bottom: 21px;
    margin-top: 80px;
    h1{
        font-weight: 600;
        letter-spacing: 0.5px;
    }

    .arrow{
        display: flex;
            justify-content: center;
            align-items: center;

        span{
            width: 30.8px;
            display: block;
            height: 30.8px;
            border: 3px solid #282828;
            border-radius: 100%;
            margin: 0 5px;

            display: flex;
            justify-content: center;
            align-items: center;

            &.ar-left{
                border-color: #bebebe;
            }

        }
    }

    .line{
        display: block;
        width: 100%;
        background-color: #D6D6D6;
        height: 1px;
        margin-top: .4rem;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            width: 21px;
            background-color: var(--black);
            height: 2px;
            border-radius: 1px;
            left: 0;
            top: -50%;
            transform: translateY(-50%);
        }
    }
}
.inline-menu{
    margin-top: 30px;
    li{
        display: inline-block;
        a{
            font-size: 20px;
            font-weight: 600;
        }
        &:not(:first-of-type){
            padding: 0 15px;
        }
        &:is(:first-of-type){
            padding-right: 15px;
        }
    }

    .line{
        display: block;
        width: 100%;
        background-color: #D6D6D6;
        height: 1px;
        margin-bottom: 30px;
        position: relative;

        &::before{
            content: '';
            position: absolute;
            width: 60px;
            background-color: var(--black);
            height: 2px;
            border-radius: 1px;
            left: 0;
            top: -50%;
            transform: translateY(-50%);
        }
    }

}

.card{
    &.img-right{
        flex-direction: row-reverse;
    }
    .card-text{
        .text-bg{
            opacity: .1;
        }
        .card-text-content{
            padding: 72px 82px;
            width: 100%;
            height: 100%;

            top: 0;
            left: 0;

            .sup-info{
                margin-bottom: 11.42px;
                small{
                    margin-left: 30px;
                }
            }

            .body-text{
                text-align: left;
                font-size: 20px;
                margin-top: 7.5px;
            }

            .sub-info{
                margin-top: 22.88px;
                 img{
                    width: 20px;
                    margin-left: 5px;
                 }
            }
        }
    }
}

.cards-contener{

    .card{
        max-width: 329px;
        .card-img img{
            height: 254px;
            object-fit: cover;
        }

        .card-text-content{
            padding: 0;
            position: inherit;
            .sup-info{
                font-size: 12px;
                margin-bottom: 5px;
                margin-top: 20px;
            }
            h1{
                font-size: 18px;
            }
            .body-text{
                font-size: 14px;
            }
        }
    }

    &.affiche{
        padding: 15px 21px;

        width: calc(100% - 370px);

        .affiche-card{
            max-width: 460px;
            .card-img img{
                max-width: 460px;
                height: 289px;
                object-fit: cover;
            }
    
            .card-text-content{
                padding: 0;
                position: inherit;
                .sup-info{
                    font-size: 12px;
                    margin-bottom: 5px;
                }
                h1{
                    font-size: 18px;
                }
                .body-text{
                    line-height: 21px;
                }
            }
        }

        .small-card{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

.small-card{
    
    .card{
        max-width: 340px;
        .card-img img{
            max-width: 144px;
            height: 100px;
            margin-right: 15px;
        }

        .card-text-content{

            h1{
                font-size: 17px;
            }
            .body-text{
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 0.3px;
                opacity: 0.5;
            }
        }
    }

    &.side{
        padding: 15px 35px;
        border-radius: 5px;
        width: max-content;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h3{
            font-weight: 400;
            letter-spacing: .5px;
            line-height: 28px;
            font-size: 18px;
        }
        .card{
            max-width: 259px;
            .card-img img{
                max-width: 109.69px;
                height: 76.18px;
                margin-right: 10px;
                border-radius: 3.81px;
            }

            .card-text-content{

                h1{
                    font-size: 13px;
                    font-weight: 500;
                    line-height: 18px;
                }
                .body-text{
                    font-size: 9.14px;
                    line-height: 16px;
                    letter-spacing: 0.23px;
                    opacity: 0.5;
                }
            }
        }
    }

}