@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
:root {
  --black: #313131;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

a {
  text-decoration: none;
  color: var(--black);
}

ul {
  list-style: none;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.flex-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-bg {
  opacity: .7;
}

.bold {
  font-weight: 700;
}

.border {
  border: solid 1px #D6D6D6;
}

.rounded {
  border-radius: 5px;
}

body {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: var(--black);
  line-height: 28px;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  padding: 84px;
}

.title {
  padding-bottom: 21px;
  margin-top: 80px;
}

.title h1 {
  font-weight: 600;
  letter-spacing: 0.5px;
}

.title .arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title .arrow span {
  width: 30.8px;
  display: block;
  height: 30.8px;
  border: 3px solid #282828;
  border-radius: 100%;
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title .arrow span.ar-left {
  border-color: #bebebe;
}

.title .line {
  display: block;
  width: 100%;
  background-color: #D6D6D6;
  height: 1px;
  margin-top: .4rem;
  position: relative;
}

.title .line::before {
  content: '';
  position: absolute;
  width: 21px;
  background-color: var(--black);
  height: 2px;
  border-radius: 1px;
  left: 0;
  top: -50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.inline-menu {
  margin-top: 30px;
}

.inline-menu li {
  display: inline-block;
}

.inline-menu li a {
  font-size: 20px;
  font-weight: 600;
}

.inline-menu li:not(:first-of-type) {
  padding: 0 15px;
}

.inline-menu li:is(:first-of-type) {
  padding-right: 15px;
}

.inline-menu .line {
  display: block;
  width: 100%;
  background-color: #D6D6D6;
  height: 1px;
  margin-bottom: 30px;
  position: relative;
}

.inline-menu .line::before {
  content: '';
  position: absolute;
  width: 60px;
  background-color: var(--black);
  height: 2px;
  border-radius: 1px;
  left: 0;
  top: -50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.card.img-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.card .card-text .text-bg {
  opacity: .1;
}

.card .card-text .card-text-content {
  padding: 72px 82px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.card .card-text .card-text-content .sup-info {
  margin-bottom: 11.42px;
}

.card .card-text .card-text-content .sup-info small {
  margin-left: 30px;
}

.card .card-text .card-text-content .body-text {
  text-align: left;
  font-size: 20px;
  margin-top: 7.5px;
}

.card .card-text .card-text-content .sub-info {
  margin-top: 22.88px;
}

.card .card-text .card-text-content .sub-info img {
  width: 20px;
  margin-left: 5px;
}

.cards-contener .card {
  max-width: 329px;
}

.cards-contener .card .card-img img {
  height: 254px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards-contener .card .card-text-content {
  padding: 0;
  position: inherit;
}

.cards-contener .card .card-text-content .sup-info {
  font-size: 12px;
  margin-bottom: 5px;
  margin-top: 20px;
}

.cards-contener .card .card-text-content h1 {
  font-size: 18px;
}

.cards-contener .card .card-text-content .body-text {
  font-size: 14px;
}

.cards-contener.affiche {
  padding: 15px 21px;
  width: calc(100% - 370px);
}

.cards-contener.affiche .affiche-card {
  max-width: 460px;
}

.cards-contener.affiche .affiche-card .card-img img {
  max-width: 460px;
  height: 289px;
  -o-object-fit: cover;
     object-fit: cover;
}

.cards-contener.affiche .affiche-card .card-text-content {
  padding: 0;
  position: inherit;
}

.cards-contener.affiche .affiche-card .card-text-content .sup-info {
  font-size: 12px;
  margin-bottom: 5px;
}

.cards-contener.affiche .affiche-card .card-text-content h1 {
  font-size: 18px;
}

.cards-contener.affiche .affiche-card .card-text-content .body-text {
  line-height: 21px;
}

.cards-contener.affiche .small-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.small-card .card {
  max-width: 340px;
}

.small-card .card .card-img img {
  max-width: 144px;
  height: 100px;
  margin-right: 15px;
}

.small-card .card .card-text-content h1 {
  font-size: 17px;
}

.small-card .card .card-text-content .body-text {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.3px;
  opacity: 0.5;
}

.small-card.side {
  padding: 15px 35px;
  border-radius: 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.small-card.side h3 {
  font-weight: 400;
  letter-spacing: .5px;
  line-height: 28px;
  font-size: 18px;
}

.small-card.side .card {
  max-width: 259px;
}

.small-card.side .card .card-img img {
  max-width: 109.69px;
  height: 76.18px;
  margin-right: 10px;
  border-radius: 3.81px;
}

.small-card.side .card .card-text-content h1 {
  font-size: 13px;
  font-weight: 500;
  line-height: 18px;
}

.small-card.side .card .card-text-content .body-text {
  font-size: 9.14px;
  line-height: 16px;
  letter-spacing: 0.23px;
  opacity: 0.5;
}
/*# sourceMappingURL=style.css.map */