/*---------------
Font
-----------------*/
@import url(https://fonts.googleapis.com/css2?family=Alata:wght@400&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400&display=swap);

:root {
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --dark_grey: hsl(0, 0%, 55%);
    --very_dark_grey: hsl(0, 0%, 41%);
}

body {
    font-family: "Josefin Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 300;
    overflow-x: hidden;
    background-color: var(--white);
    line-height: 1.5;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

ul {
    list-style: none;
}

a,
a:hover {
    text-decoration: none;
    color: var(--black);
}

.section-wrapper {
    padding-left: 2rem;
    padding-right: 2rem;

    @media screen and (min-width: 1100px) {
        padding-left: calc(50% - 550px);
        padding-right: calc(50% - 550px);
    }
}

header {
    position: fixed;
    top: 0;
    z-index: 10000;
    width: 100%;
    padding: 2rem 0rem;

    .section-wrapper {
        color: var(--white);
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            width: 165px;
        }

        nav {
            gap: 1.75rem;

            .items {
                display: flex;
                align-items: flex-end;
                justify-content: flex-end;
                gap: 1.75rem;
            }

            a {
                color: var(--white);
                position: relative;

                &::before {
                    content: "";
                    position: absolute;
                    width: 50%;
                    height: 2px;
                    border-radius: 5px;
                    background-color: transparent;
                    bottom: -5px;
                    left: 50%;
                    transform: translate(-50%);
                    transition: all ease-in-out .3s;
                }

                &:hover {
                    &::before {
                        background-color: var(--white);
                    }
                }
            }

            .sm-header {
                display: none;

                @media screen and (max-width: 600px) {
                    display: flex;
                    width: 100%;
                    margin-bottom: 8rem;
                    justify-content: space-between;

                    .sm-logo {
                        max-width: 165px;
                    }

                    .cross {
                        max-width: 20px;
                        height: 20px;
                        aspect-ratio: 1;
                    }
                }
            }

            @media screen and (max-width: 600px) {
                position: fixed;
                top: 0;
                width: 100%;
                height: 100%;
                left: -120%;
                background-color: var(--black);

                display: block;

                padding: 3rem 2rem;

                .items {
                    display: flex;
                    align-items: flex-start;
                    justify-content: flex-start;
                    flex-direction: column;
                    gap: 1.5rem;

                    a {
                        text-transform: uppercase;
                        letter-spacing: 3px;
                        font-size: 1.5rem;
                    }
                }

                &.show {
                    left: 0;
                }
            }
        }

    }

    &.has_back{
        background-color: var(--black);
    }
}

.btn-toggle {
    height: 20px;
    width: 25px;
    display: flex;
    flex-direction: column;
    gap: .25rem;

    span {
        width: 100%;
        height: 3px;
        background-color: white;
    }

    @media screen and (min-width: 600px) {
        display: none;
    }
}

.hero {
    min-height: 70vh;

    padding-top: 10rem;

    position: relative;

    &>img {
        position: absolute;
        inset: 0;
        object-fit: cover;
        height: 100%;
        max-width: 100%;
        width: 100%;
        z-index: -1;
    }

    .section-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
    }

    .hero-content {
        border: solid 2px var(--white);
        color: var(--white);
        padding: 2rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 400;
        font-size: 3rem;
        width: max-content;

        @media screen and (max-width: 600px) {
            font-size: 2.5rem;
            width: 100%;
        }
        @media screen and (max-width: 350px) {
            font-size: 8vw;
        }
    }

    @media screen and (max-width: 600px) {
        padding-top: 12rem;
        min-height: 70vh;
    }
}

.leader{

    padding-block: 3rem;

    
    
    .section-content{
        display: flex;
        align-items: flex-end;
        justify-content: center;

        

        img{
            /* position: absolute; */
    
            @media screen and (max-width: 780px) {
                width: 100%;
                position: relative;
                object-fit: cover;
            }
            width: 55%;
            height: 350px;
        }

        .content{
            width: calc(50% + 100px);
            margin-left: -100px;
            background-color: var(--white);
            padding: 2rem;

            h1{
                font-size: 2.5rem;
                letter-spacing: 3px;
                line-height: 50px;
                margin-top: 1.5rem;
    
                @media screen and (max-width: 500px) {
                    font-size: 1.9rem;
                    letter-spacing: 2px;
                    line-height: 40px;
                }
                @media screen and (max-width: 400px) {
                    font-size: 7vw;
                }
            }
    
            p{
                margin-block: 1rem;
            }
            @media screen and (max-width: 780px) {
                width: 100%;
                padding-inline: 3rem;
            }
            @media screen and (max-width: 400px) {
                padding-inline: 0rem;
            }
        }

        @media screen and (max-width: 780px) {
            flex-direction: column;
            text-align: center;
        }
    }
}


.section-creators {
    .title {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 2rem 0;

        p {
            text-transform: uppercase;
            letter-spacing: 3px;
            font-size: 2rem;

        }
        
        @media screen and (max-width: 580px) {
            justify-content: center;
        }
    }

    a.btn {
        display: block;
        background-color: transparent;
        border: solid 2px var(--black);
        text-decoration: none;
        padding: 0.75rem 1rem;
        color: var(--w);
        width: 150px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 4px;

        &.sm_btn {
            margin-inline: auto;
            margin-bottom: 2rem;
            display: none;

            @media screen and (max-width: 580px) {
                display: block;
            }
        }

        @media screen and (max-width: 580px) {
            display: none;
        }
    }
}

.creators {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding-block: 2rem;



    .creator {
        width: calc(25% - 2rem);
        position: relative;

        img {
            max-height: 500px;
            height: 100%;
            width: 100%;
            object-fit: cover;

            @media screen and (max-width: 580px) {
                height: 200px;
            }
        }

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.086), rgba(0, 0, 0, 0.367));
        }

        .creator_dec {
            position: absolute;
            bottom: 15px;
            left: 15px;
            line-height: 35px;
            color: var(--white);
            font-size: 1.75rem;
            font-weight: 400;
            letter-spacing: 3px;
            text-transform: uppercase;
        }

        @media screen and (max-width: 980px) {
            width: calc(calc(100% / 3) - 2rem);
        }

        @media screen and (max-width: 780px) {
            width: calc(calc(100% / 2) - 2rem);
        }

        @media screen and (max-width: 580px) {
            width: 100%;
            gap: 1rem;
        }
    }
}


footer {
    padding-block: 2rem;
    background-color: var(--black);
    color: var(--white);



    .footer_top {
        display: grid;
        grid-template-areas: "a b" "c d";
        gap: 1.5rem;
        width: 100%;
        /* align-items: center; */
        /* justify-content: space-between; */

        .logo {
            max-width: 165px;
            grid-area: a;

            @media screen and (max-width: 700px) {
                margin-inline: auto;
            }
        }

        .socials {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 1rem;
            grid-area: b;

            img {
                max-width: 20px;
                width: 100%;
            }

            @media screen and (max-width: 700px) {
                justify-content: center;
            }
        }

        @media screen and (max-width: 700px) {
            grid-template-areas: "a" "c" "b" "d";
        }
    }

    ul {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1.5rem;
        grid-area: c;

        a {
            color: var(--white);
        }

        @media screen and (max-width: 700px) {
            justify-content: center;
            text-align: center;
        }

        @media screen and (max-width: 390px) {
            flex-direction: column;
        }
    }

    .cp {
        text-align: right;
        grid-area: d;

        @media screen and (max-width: 700px) {
            text-align: center;
        }
    }


    @media screen and (max-width: 700px) {
        flex-direction: column;
        gap: 1.5rem;
    }
}