@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --main: #2f2439;
    --main-2: #1a1823;
    --bg-clr: #2d2435;
    --border-radius: 10px;
    --quart: -11px;
  }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

body {
    position: relative;
  font-family: "Poppins", sans-serif;
  font-size: .85rem;
  font-weight: 600;
  line-height: 1.5;
  min-height: 100vh;
  
  background-color: var(--bg-clr);
  background-image: url("./images/bg-stars.svg");

  display: flex;
  align-items: center;
  justify-content: center;
}
img{
    max-width: 100%;
}
.hills{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.panel{
    position: relative;
}
.panel .time{
    position: relative;
    background-color: rgb(38, 38, 65);
    overflow: hidden;
    color: white;
    font-size: 6.5rem;
    /* margin: .15rem; */
    width: 170px;

    display: flex;
    justify-content: center;
}
.panel .top{
    height: 74px;
    color: #e24b71;
    align-items: flex-start;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}
.panel .bottom{
    height: 82px;
    color: #d54d6e;
    align-items: flex-end;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    box-shadow: 0px 12px 1px 0px #0d0e1bf0;

}

.panel .time::after,
.panel .time::before{
    content: "";
    position: absolute;
    width: 20px;
    aspect-ratio: 1;
    background-color: #0d0e1bf0;
    border-radius: 50%;
}


.panel .top::before,
.panel .top::after{
    bottom: var(--quart);
}
.panel .bottom::before,
.panel .bottom::after{
    top: var(--quart);
}

.panel .bottom::before,
.panel .top::before{
    left: var(--quart);
}

.panel .bottom::after,
.panel .top::after{
    right: var(--quart);
}
