@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');
:root {
    --main-color: #ED9B59;
    --secondary: #B25E21;
    --font: 1rem;
    --text-clr: #1A1D32;
    --bg: #FEEFE3;
    --white: #ffffff;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'poppins', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-clr);
    background-color: var(--bg);
    overflow: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--text-clr);
}


/* header */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem .8rem;
    position: relative;
    box-shadow: 1px 1px 9px 0px #00000033;
}

.menu_toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .3rem;
    width: 25px;
    aspect-ratio: 1;
    z-index: 10;
}

.menu_toggle span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: var(--text-clr);
    border-radius: 5px;
}

.header_midle {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--white);
    width: 100%;
    height: 100%;
    padding: 1rem;
    padding-top: 5rem;
    transition: all ease-in-out .3s;
}

.header_midle.show {
    right: 0;
}

.header_midle nav ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.header_midle nav ul li {
    transition: all ease-in-out .3s;
    width: fit-content;
    margin: 0 auto;
}

.header_midle nav ul li.active {
    position: relative;
}

.header_midle nav ul li.active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--main-color);
}

.header_midle nav ul li:hover a,
.header_midle nav ul li.active a {
    color: var(--main-color);
}

.header_midle nav ul li a {
    padding: .7rem;
    display: block;
}

.auth_side {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.auth_side a {
    display: block;
    padding: .7rem;
    background-color: var(--main-color);
    color: var(--white);
    border-radius: 50px;
    width: 100%;
    margin: 0 auto;
}

.auth_side a.login {
    background-color: var(--bg);
    color: var(--text-clr);
}

.logo-md {
    display: none;
}

@media screen and (min-width: 450px) {
    .header_midle {
        width: 400px;
    }
}

@media screen and (min-width: 850px) {
    header {
        padding: 1.5rem 1rem;
        box-shadow: inherit;
    }
    .logo {
        display: none;
    }
    .logo-md {
        display: block;
    }
    .menu_toggle {
        display: none;
    }
    .header_midle {
        position: relative;
        top: inherit;
        right: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        padding: 0 !important;
        width: 100%;
    }
    .header_midle nav ul {
        flex-direction: row;
        gap: 1rem;
    }
    .header_midle .auth_side {
        flex-direction: row;
    }
    .header_midle .auth_side a {
        width: 120px;
    }
    .header_midle nav ul li.active::before {
        width: 5px;
        height: 5px;
        border-radius: 100%;
        left: 50%;
        transform: translateX(-50%);
    }
}


/* main */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    overflow: hidden;
    position: relative;
}

.hero .hero_text {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    gap: 5rem;
}

.hero .hero_images {
    width: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero .hero_images img {
    width: 624px;
    max-width: 100%;
}

.hero .img_left {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 54%;
    gap: 1rem;
}

.hero .img_left img {
    max-width: 100%;
    width: 398px;
}

.hero .hero_text .hero_text_block_1 .hero_label {
    color: var(--main-color);
    font-weight: 500;
    font-size: .7rem;
}

.hero .hero_text .hero_text_block_1 h1 {
    font-size: 3.65rem;
    line-height: 1.2;
    margin-top: 13px;
    margin-bottom: 37px;
}

.hero .hero_text .hero_text_block_1 h1 span {
    color: var(--main-color);
}

.hero .hero_text .hero_text_block_1 p {
    font-size: .855rem;
    margin-bottom: 22px;
    line-height: 30px;
}

.hero .hero_text .hero_text_block_1 .form_mail {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 50px;
    height: 68px;
    background-color: var(--white);
    box-shadow: 18px 9px 20px 9px #00000014;
    padding: .6rem;
}

.hero .hero_text .hero_text_block_1 .form_mail img {
    object-fit: contain;
    opacity: .15;
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.hero .hero_text .hero_text_block_1 .form_mail input {
    width: 90%;
    border: none;
    outline: none;
    padding-left: 3rem;
    font-size: .9rem;
    font-family: 'poppins', sans-serif;
}

.hero .hero_text .hero_text_block_1 .form_mail button {
    display: block;
    padding: .7rem;
    background-color: var(--main-color);
    color: var(--white);
    border-radius: 50px;
    width: 180px;
    height: 100%;
    border: none;
    outline: none;
}

.hero_text_block_2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 2rem;
}

.hero_text_block_2 .num_stat h1 {
    font-size: 3rem;
}

.hero_text_block_2 .num_stat:nth-of-type(2) h1 {
    color: var(--secondary);
}

@media screen and (min-width: 1300px) {
    main,
    header {
        padding-right: calc(50% - 600px) !important;
        padding-left: calc(50% - 600px) !important;
    }
}