/*---------------
Font
-----------------*/
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);

/*---------------
Global
-----------------*/
:root {
  --main-color: rgb(114, 63, 228);
  --purple: #461af3;
  --color-1: #e91e63;
  --color-2: #f5ae10;
  --color-3: #09d69c;
  --bg-dark: #2b2c2f;
  --main-to-dark-color: var(--main-color);
  --dark-to-main-color: var(--bg-dark);
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --shadow-black-300: 0 5px 15px rgba(0, 0, 0, 0.3);
  --black-900: #000000;
  --black-400: #555555;
  --black-100: #f7f7f7;
  --black-000: #ffffff;
  --black-alpha-100: rgba(0, 0, 0, 0.05);
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #ffffff;
  line-height: 1.5;
  user-select: none;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
  color: var(--purple);
}
.section-title span {
  color: var(--main-color);
  font-weight: 600;
  text-transform: uppercase;
}
.section-title h1 {
  font-weight: 700;
  margin: 10px 0;
}
.section-title p {
  margin-top: 25px;
  font-size: 0.95rem;
  color: grey;
}
.b {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 13px 35px;
  transition: all ease-in-out 0.3s;
  border: none;
}
.b.b-black:hover,
.b.b-white {
  background-color: white;
  color: var(--main-color);
}
.b.b-white:hover,
.b.b-black {
  background-color: rgb(8, 24, 40);
  color: white;
}

.b.b-outline {
  background-color: transparent;
  border: solid 2px white;
}
.b.b-outline:hover {
  color: var(--main-color);
  background-color: white;
}
.bg-transparent {
  background: transparent;
}
.bg-white {
  background: white;
}
.bg-purple {
  background: var(--main-color);
}
.btn-purple {
  background: var(--main-color) !important;
  color: white !important;
}
.bg-grey {
  background: #f0f3fa;
}

.section-padding {
  padding: 130px 0 !important;
}

@keyframes ZoomInOut {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
/* ----------------------------scrool icon ------------------------------ */
.scrool-to {
  height: 50px;
  width: 50px;
  bottom: 20px;
  right: 20px;
  position: fixed;
  display: none;
  background-color: var(--main-color);
  color: white;
  border-radius: 7px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 600;
  z-index: 2000;
  box-shadow: var(--shadow-black-100);
}
/* ------------------------------- preloaded ---------------------------- */
.preloaded {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--main-to-dark-color);
  z-index: 2100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.preloaded span {
  display: block;
  height: 60px;
  width: 60px;
  background-color: var(--dark-to-main-color);
  border-radius: 50%;
  animation: ZoomInOut 1s ease infinite;
}
/* --------------------------------------
    NavBar
------------------------------------------ */
header {
  padding: 15px 0;
  background-color: transparent;
}
header i {
  font-size: small;
}
header img {
  width: 170px;
}
.navbar-brand {
  font-size: 1.6rem !important;
  font-weight: 500 !important;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 600;
  color: #ffffff;
  transition: all ease-in-out 0.3s;
}

.navbar i {
  color: white !important;
}
.nav-item {
  position: relative;
}
.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: white !important;
}
.drdown:hover .drdown-menu {
  top: 50px;
  opacity: 1;
}

.drdown-menu {
  position: absolute;
  border-radius: 5px;
  background-color: white;
  transition: all ease-in-out 0.3s;
  padding: 15px;
  box-shadow: var(--shadow-black-100);
  min-width: 200px;
  top: 60px;
  left: 1.2rem;
  opacity: 0;
}
.drdown-menu a {
  padding: 5px 0;
  display: block;
  width: 100%;
  color: #000000;
  transition: all ease-in-out 0.3s;
}
.drdown-menu a:hover {
  color: var(--main-color);
}

.navbar-shrink {
  background-color: white !important;
  box-shadow: var(--shadow-black-100);
  background-color: #000000;
}
.navbar-shrink i {
  color: var(--main-color) !important;
}
.navbar-shrink .nav-link {
  color: rgb(8, 24, 40) !important;
}
.navbar-shrink button {
  background-color: var(--main-color) !important;
  color: white !important;
}
.navbar-shrink button:hover {
  background-color: rgb(8, 24, 40) !important;
}
.navbar-shrink .navbar .nav-link:hover,
.navbar-shrink .navbar .dr-link.active,
.navbar-shrink .navbar .nav-link.active {
  color: var(--main-color) !important;
}
/* --------------------------------------
    Banner
------------------------------------------ */
.banner {
  background-color: var(--main-color);
  background-image: url(../images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 130px 0;
  height: 120vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.9;
  background: rgb(114, 63, 228);
}
.banner .banner-text small {
  font-weight: 600;
}
.banner .banner-text h1 {
  font-size: 3rem;
  font-weight: 700;
  margin: 15px 0;
  margin-bottom: 35px;
}
.banner .banner-text p {
  font-size: 0.9rem;
  margin-bottom: 30px;
}
.banner-cards {
  left: 50%;
  transform: translateX(-50%);
  bottom: -258px;
  width: 80%;
}

.banner-card {
  padding: 50px 35px;
  background-color: white;
  border-radius: 6px;
  box-shadow: var(--shadow-black-100);
  top: 0;
  transition: all ease-in-out 0.3s;
  color: #000000;
  position: relative;
}
.banner-card span {
  margin-left: 30px;
}
.banner-card i {
  font-size: 1.8rem;
  color: var(--main-color);
}
.banner-card p {
  margin: 2px 0;
  padding: 0;
}
.banner-card small {
  display: block;
  color: grey;
}
.banner-card:hover {
  top: -10px;
}

/* ----------------------------------------------
Feature
------------------------------------------------- */
.feature {
  padding-top: 200px !important;
}
.feature-card {
  padding: 34px;
  border-radius: 6px;
  background: rgb(136 136 136 / 5%);
  border: solid 1px rgb(136 136 136 / 12%);
  position: relative;
  top: 0;
  transition: all ease-in-out 0.3s;
  margin: 15px 0;
}
.feature-card span {
  padding: 20px;
  background: var(--main-color);
  color: white;
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 7px;
  font-size: 1rem;
  box-shadow: var(--shadow-black-100);
  transition: all ease-in-out 0.3s;
}
.feature-card h5 {
  font-size: 1.1rem;
  margin: 15px 0;
}
.feature-card p {
  font-size: 0.87rem;
  color: grey;
  font-weight: 400;
}

.feature-card:hover {
  top: -10px;
  box-shadow: var(--shadow-black-100);
}
.feature-card:hover span {
  background: white;
  color: var(--main-color);
}

/* -------------------------------------
Testimonials
---------------------------------------- */
.testimonial {
  background: #f9f9f9;
  overflow: hidden;
  padding: 80px 0 !important;
}
.testimonial .tp-1 {
  width: 300px;
  left: -150px;
  bottom: -50px;
}
.testimonial .tp-2 {
  width: 300px;
  top: -50px;
  right: -150px;
}
.testimonial-card .testimonials-comment {
  font-size: 0.96rem;
  font-weight: 600;
  margin: 35px 0;
  line-height: 27px;
}
.testimonial-card img:first-of-type {
  width: 260px;
  margin: 0 auto;
}
.testimonial-card .user-info img {
  border-radius: 50%;
  height: 60px;
  width: 60px;
  margin: 0 auto;
  margin-bottom: 12px;
  display: block;
}
.testimonial-card .user-info h5 {
  font-size: 0.9rem;
  margin-bottom: 2px;
}
.testimonial-card .user-info p {
  margin: 0;
  font-size: 0.8rem;
}

/* -------------------------------------
statistic
--------------------------------------- */
.statistic-cards {
  width: 90%;
  margin: 0 auto;
}
.statistic-title h1 {
  font-size: 2.2rem;
  font-weight: 700;
}
.statistic-title p {
  font-size: 0.9rem;
  margin: 1rem 0;
}
.statistic-card h1 {
  font-size: 2.2rem;
  font-weight: 700;
}

/* -------------------------------------
Pricing
---------------------------------------- */

.pricing-card {
  background: white;
  border-radius: 7px;
  border: solid 1px #f0ebeb;
  position: relative;
  top: 0;
  transition: all ease-in-out 0.3s;
}
.pricing-card-top,
.pricing-card-bottom {
  padding: 25px;
}
.pricing-card h4 {
  font-size: 1rem;
  text-transform: capitalize;
}
.pricing-card h1 {
  font-size: 2rem;
  margin: 20px 0;
}
.pricing-card h1 span {
  font-size: 0.8rem;
}
.pricing-card p {
  font-size: 0.8rem;
  padding: 10px 0;
}
.pricing-card button {
  font-size: 0.9rem;
  padding: 10px;
}
.pricing-card button:hover {
  background: var(--main-color) !important;
  color: white !important;
}
.pricing-card-bottom {
  padding-top: 15px;
}
.pricing-card-bottom h5 {
  font-size: 0.9rem;
  padding: 5px 0;
}
.pricing-card-bottom li {
  padding: 5px 0;
  font-size: 0.85rem;
}
.pricing-card-bottom li span {
  margin-right: 5px;
}
.pricing-card:hover {
  top: -10px;
  box-shadow: var(--shadow-black-100);
}

/* --------------------------------
Team
----------------------------------- */
.team-card {
  border: solid 1px #dad5d5;
  border-radius: 8px;
  overflow: hidden;
  transition: all ease-in-out 0.3s;
}
.team-card {
  background-color: white;
  box-shadow: var(--shadow-black-100);
  border: none;
}
.team-card img {
  max-width: 100%;
  border-radius: 8px 8px 0 0;
}
.team-card-info {
  padding: 20px;
}
.team-card-info h3 {
  padding: 0;
  margin: 0;
  font-size: 1.1rem;
  font-weight: 700;
}
.team-card-info p {
  padding: 0;
  margin: 0;
  font-size: 0.85rem;
  font-weight: 600;
  color: var(--main-color);
  margin-top: 5px;
}

.team-card-info i {
  font-size: 0.9rem;
  margin: 0 5px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.team-card-info i:hover {
  color: var(--main-color);
}

/* -------------------------------
Services
---------------------------------- */
.services {
  color: white !important;
}
.services .section-title span {
  color: white !important;
}

.services p {
  color: #e8e1e1 !important;
}
.services .feature-card {
  background: none;
  border: none;
}
.services .feature-card span {
  background-color: white !important;
  color: var(--main-color);
}
/* -------------------------------
Portfolio
---------------------------------- */

.portfolio .categories ul li {
  padding: 8px 20px;
  border: solid 1px #dad5d5;
  border-radius: 30px;
  margin: 0 15px;
  font-size: 0.9rem;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
.portfolio .categories ul li:hover,
.portfolio .categories ul li.active {
  background-color: var(--main-color);
  border: none;
  color: white;
}

.portfolio-card {
  position: relative;
}
.portfolio-card:hover .portfolio-card-info {
  opacity: 1;
  bottom: 0;
}
.portfolio-card img {
  transition: all ease-in-out 0.3s;
}

.portfolio-card-info {
  position: absolute;
  opacity: 0;
  bottom: 10px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #451af3d0;
  padding: 25px;
  color: white !important;
  transition: all ease-in-out 0.3s;
}
.portfolio-card a {
  color: white !important;
  margin-left: 3px;
}
.portfolio-card h4 {
  padding: 8px 20px;
  background-color: white;
  border-radius: 30px;
  font-size: 0.85rem;
  width: fit-content;
  color: var(--black-900);
  margin-bottom: 15px;
}
.portfolio-card span {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--main-color);
  background-color: white;
  position: absolute;
  bottom: 25px;
  left: 25px;
}
/* ---------------------------------
Blog
------------------------------------ */
.post-card {
  background: white;
  box-shadow: var(--shadow-black-100);
  border-radius: 9px;
}
.post-card-img img {
  transition: all ease-in-out 0.3s;
}
.post-card-img {
  height: 200px;
  border-radius: 9px 9px 0 0;
  overflow: hidden;
}
.post-card:hover .post-card-img img {
  transform: scale(1.1);
}
.post-content {
  padding: 25px;
}
.post-content-text a {
  display: block;
  font-weight: 600;
}
.post-title {
  color: #000000;
  margin: 5px 0;
  transition: all ease-in-out 0.3s;
}
.post-content-text p {
  font-size: 0.9rem;
  color: gray;
  margin: 10px 0;
}
.post-user-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  overflow: hidden;
}
.post-user-img img {
  object-fit: cover;
}
.post-comment-info {
  margin-left: 15px;
}

.post-comment-info h5 {
  font-size: 0.9rem;
  margin: 0;
  margin-top: 5px;
}
.post-comment-info p {
  color: gray;
  font-size: 0.8rem;
  margin-top: 5px;
}
.post-comment-info p small {
  position: relative;
  margin-left: 15px;
}
.post-comment-info p small::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  border-radius: 50px;
  background-color: grey;
  left: -12px;
  top: 50%;
  transform: translateY(-55%);
}

/* ---------------------------------
Trial
------------------------------------ */
.trial .row {
  justify-content: space-between;
}
.trial {
  padding: 80px 0;
  background-color: #f0f3fa;
}
.trial h2 {
  color: black;
  font-weight: 700;
}
.trial h2 span {
  display: block;
  color: var(--main-color);
}
.trial button {
  background-color: black;
  color: #ffffff;
  padding: 12px 25px;
  transition: all ease-in-out 0.3s;
  width: 49%;
  display: block;
}
.trial button:hover {
  background: var(--main-color);
  color: white;
}
.trial button:first-of-type {
  background: var(--main-color);
  color: white;
}
.trial button:first-of-type:hover {
  background-color: black;
  color: #ffffff;
}

/* ----------------------------------------
Footer
------------------------------------------- */
.bg-dark-main {
  background-color: #081828;
  color: #d2d6dc;
}
.footer-about {
  font-size: 0.85rem;
}
.footer-about img {
  width: 200px;
  margin-bottom: 20px;
}
footer .links {
  margin: 20px 0;
  margin-bottom: 35px;
}
footer .links i {
  padding: 0 15px;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
footer .links i:hover {
  color: var(--main-color);
}
footer .links i:first-of-type {
  padding-left: 0;
}
.footer-menu-title {
  margin-bottom: 17px;
}
.footer-list-item a {
  font-size: 0.9rem;
  display: block;
  color: #d2d6dc !important;
  transition: all ease-in-out 0.3s;
  padding: 5px 0;
}
.footer-list-item a:hover {
  color: var(--main-color) !important;
}

.newsletter {
  border: solid 2px #fff3;
  border-radius: 8px;
  padding: 40px;
}
.newsletter h5 {
  font-size: 1.1rem;
}
.newsletter p {
  font-size: 0.85rem;
}
.newsletter input {
  padding: 10px 35px;
  font-size: 0.9rem;
  border: none;
  padding-left: 10px;
  background-color: #fff3;
  color: white !important;
  height: auto;
  margin-right: 10px;
  width: 300px;
}
.newsletter input:focus {
  background-color: #fff3;
}
.newsletter button {
  padding: 9px 35px;
  background: var(--main-color) !important;
}
.newsletter button:hover {
  background-color: white !important;
  color: var(--main-color) !important;
}

/* -------------------------------------------------------
Responsive
---------------------------------------------------------- */

@media (max-width: 1024px) {
  .navbar button {
    padding: 10px 16px;
  }
  .banner {
    height: 130vh;
  }
  .banner-text h1 {
    font-size: 2.5rem !important;
  }
  .banner .banner-text p {
    line-height: 30px;
  }
  .trial button,
  .navbar button,
  .banner button {
    font-size: 0.85rem;
  }

  .banner-cards {
    width: 90%;
  }
  .post-card-img {
    height: 168px;
  }
}
@media (max-width: 769px) {
  .navbar-collapse {
    background: white;
    box-shadow: var(--shadow-black-100);
    border-radius: 9px;
  }
  .navbar-collapse .nav-link {
    color: black !important;
  }

  .navbar-collapse .nav-link.active {
    color: var(--main-color) !important;
  }
  .navbar .navbar-nav {
    padding-top: 12px;
  }
  .navbar .nav-link {
    padding-left: 40px !important;
  }
  .navbar button {
    background-color: var(--main-color) !important;
    border: none;
    margin-left: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .drdown-menu {
    position: relative;
    top: inherit;
    left: inherit;
    opacity: 1;
    padding-left: 60px !important;
    padding: 0;
    box-shadow: none;
    height: 0px;
    overflow: hidden;
  }
  .navbar .drdown:hover .nav-link {
    color: black !important;
  }
  .drdown:hover .drdown-menu {
    top: inherit;
    height: fit-content;
  }

  .banner-text h1 {
    font-size: 2rem !important;
  }
  .banner {
    height: 100vh;
  }
  .banner-cards {
    bottom: -52px;
  }
  .banner-card {
    flex-wrap: wrap;
    text-align: center;
    padding: 21px 30px;
  }
  .banner-card span {
    margin-left: 0;
  }
  .banner-card p {
    margin-top: 10px;
    font-size: 0.85rem;
  }
  .banner-card small {
    font-size: 0.7rem;
  }
  .section-title h1 {
    font-size: 1.9rem;
  }
  .statistic-title h1 {
    font-size: 1.3rem;
  }
  .post-card,
  .team-card,
  .pricing-card {
    margin: 10px 0;
  }

  .portfolio .categories ul li {
    padding: 4px 20px;
    margin: 0 6px;
    font-size: 0.75rem;
  }
  .post-cards {
    justify-content: start !important;
  }
  .trial .row {
    justify-content: center;
  }

  .trial-text {
    text-align: center;
  }
  .trial h2 {
    font-size: 1.8rem;
    margin-bottom: 25px;
  }
  .trial button {
    padding: 9px 21px;
    width: 160px;
    margin: 0 10px;
  }
  .trial-btn {
    justify-content: center !important;
  }
  footer .about {
    margin-bottom: 30px;
  }
  .footer-about {
    text-align: center;
  }
  footer .links {
    margin: 20px auto;
    width: fit-content;
  }
  .newsletter button {
    padding: 10px 12px;
    font-size: 0.85rem;
  }
  .newsletter {
    padding: 25px;
  }
}

@media (max-width: 426px) {
  .banner-cards {
    bottom: inherit;
    left: inherit;
    position: relative !important;
    transform: none;
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
  }
  .banner-card {
    margin: 5px 0;
  }
  .banner-card i {
    margin-right: 20px;
  }
  .feature {
    padding-top: 65px !important;
  }
  .section-title h1 {
    font-size: 1.4rem;
  }
  .section-title p {
    font-size: 0.9rem;
  }
  .statistic-card {
    margin: 10px 0;
  }
  .statistic {
    padding: 100px 0 !important;
  }
  .categories {
    width: 90%;
    margin: 0 auto;
  }
  .categories ul {
    flex-wrap: wrap;
  }
  .portfolio .categories ul li {
    padding: 4px 20px;
    margin: 6px;
  }
  .scrool-to {
    right: 32px;
  }
  .team-card img {
    width: 100%;
    height: 191px;
  }
  footer .col-sm-6 {
    width: 50%;
  }
  .newsletter-text {
    text-align: center;
  }
  .newsletter .form {
    margin-top: 25px;
    flex-wrap: wrap;
  }
  .newsletter input {
    margin-right: 0;
  }
  .newsletter button {
    width: 300px;
    margin-top: 10px;
  }
  .newsletter {
    width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 376px) {
  .banner .banner-text h1 {
    font-size: 1.7rem !important;
    margin-bottom: 19px;
  }
  .banner .banner-text p {
    font-size: 0.8rem;
    line-height: 26px;
  }
  .categories {
    width: 95%;
  }
  .section-padding {
    padding: 100px 0 !important;
  }
  .trial h2 {
    font-size: 1.4rem;
  }
  .footer-menu {
    margin: 20px 0;
  }
  footer .row:first-of-type {
    text-align: center;
  }
}
@media (max-width: 324px) {
  .section-title p {
    font-size: 0.8rem;
    margin-top: 16px;
  }
  .categories {
    width: 100%;
  }
  .section-padding {
    padding: 80px 0 !important;
  }
  .banner .banner-text h1 {
    font-size: 1.3rem !important;
    margin-bottom: 15px;
  }
  .banner .banner-text p {
    font-size: 0.8rem;
    line-height: 21px;
  }
  .banner-text .d-flex {
    flex-wrap: wrap;
  }
  .banner-text button {
    width: 80%;
    display: block;
    margin: 5px 0 !important;
  }
  .banner {
    padding-top: 130px !important;
    padding-bottom: 70px !important;
  }
  .section-title h1 {
    font-size: 1.2rem;
  }
  .statistic-title h1 {
    font-size: 1.1rem;
  }
  .statistic-title p {
    font-size: 0.8rem;
    margin: 0.9rem 0;
  }
  .testimonial-card .post-logo {
    width: 175px !important;
  }
  .testimonial-card .testimonials-comment {
    font-size: 0.86rem;
    font-weight: 600;
    line-height: 24px;
  }
  .testimonial {
    padding: 50px 0;
  }
  .feature-card {
    padding: 10px;
    margin: 5px 0;
  }
  .trial-btn {
    flex-wrap: wrap;
  }
  .trial-btn button {
    width: 100%;
    margin: 5px 0;
  }
  .trial h2 {
    font-size: 1.3rem;
    margin-bottom: 18px;
  }
}
