@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;800;900&display=swap);


*{
    margin: 0;
    padding: 0;
}


body{
    min-height: 100vh;
    width: 100%;
    
    font-family: 'Poppins', sans-serif;
    font-size: .9rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 10px;
}
button{
    padding: .5rem 2rem;
}

.img-skeleton{
    width: 485px;
    min-height: 125px;
    border: dashed 2px black;
    background-color: aliceblue;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    overflow: hidden;

    position: relative;
}
.img-skeleton input{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.d-flex,
.img-skeleton.has-files{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

    padding: .3rem;
}

.img-skeleton.has-files .skeleton-content{
    display: none;
}

.img-skeleton.is-hovered{
    opacity: .6;
}

.img-skeleton__file{
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
    width: calc(165.2px - 15.2px);
    /* max-height: 100px; */
    padding: .2rem;
    margin: .1rem;
    border: solid 1px rgb(191 191 191 / 50%);
    box-shadow: 2px 1px 20px 0px rgb(191 191 191 / 50%);
    position: relative;
}

.img-skeleton__file__desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all ease-in-out .3s;

    font-size: .85rem;
    padding: 0 3px;
}
.thumbnail{
    width: 100%;
    height: 90px;
    margin-bottom: 5px;
    border-radius: 5px;
    overflow: hidden;
}

.img-skeleton__file img{
    max-width: 100%;
    border-radius: 5px;
    object-fit: contain;
}

.img-skeleton__file:hover .drop-files__delete{
    opacity: 1;
}
.img-skeleton__file:hover .img-skeleton__file__desc{
    filter: blur(1px);
}
.drop-files__delete{
    position: absolute;
    bottom: .2rem;
    right: .2rem;
    cursor: pointer;
    color: red;
    opacity: 0;
    transition: all ease-in-out .3s;
}

.leave{
    transition: all ease-in-out .3s;
    transition-delay: .1s;
    transform: translateY(10px);
    opacity: 0;
}