/*---------------
Font
-----------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*---------------
Global
-----------------*/
:root {
  --logo-green: #1ce783;
  --brand-green: #1ce783;
  --green: #1ce783;
  --green-2: #29a869;
  --green-3: #04cd6a;
  --green4: #29a869;
  --green5: #1ce783;
  --text-link: #176ee1;
  --text-link-2: #176ee1;
  --text-link-3: #176ee1;
  --error-red: #cc000d;
  --error-red-2: #cc000d;
  --error-red-3: #cc000d;
  --white: #fff;
  --text-white: #fff;
  --background-light-grey: #f6f7f8;
  --background-white-2: #e8eaed;
  --accent-grey: #e8eaed;
  --black: #0b0c0f;
  --black-2: #16181d;
  --black-3: #0b0c0f;
  --black-4: #272c34;
  --black-5: #272c34;
  --global-nav-icon-background: #272c34;
  --global-nav-text-color: #a8afbd;
}
html{
  scroll-behavior: smooth;
}
body {
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #000;
  line-height: 1.5;
  user-select: none;
  color: var(--text-white);
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  list-style: none;
}
a,
a:hover {
  text-decoration: none;
  color: var(--purple);
}
.hidden{
  display: none;
}
.section_padding{
  padding: 20px 25px;
}

@media screen and (min-width: 1024px) {
  .hidden{
    display: block !important;
  }
  .on_mobile{
    display: none !important;
  }
  .section_padding{
    padding: 25px 50px !important;
  }
}

/* -------------
Header style
--------------- */
header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 10;
}
@media screen and (min-width: 1024px) {
  header{
    padding: 25px 50px;
  }
}
header .logo svg{
  fill: var(--logo-green);
}
header nav{
  position: relative;
}
.btn_login{
  text-transform: uppercase;
  font-size: .95rem;
  font-weight: 600;
  color: var(--global-nav-text-color);

}
header nav .menu_toggler{
  height: 30px;
  width: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  background-color: var(--global-nav-icon-background);
}
header nav .menu_toggler svg{
  fill: var(--background-white-2);
  width: .75em;
  height: .75em;
}
header nav ul{
  position: absolute;
  border-radius: 6px;
  background-color: var(--global-nav-icon-background);
  min-width: 270px;
  text-align: center;
  right: 0;
  top: calc(100% + 10px);
  padding: .25rem;
  visibility: hidden;
  color: var(--global-nav-text-color);
}
header nav ul.active{
  visibility: visible;
}
header nav ul li{
  padding: 12px 0;
  font-size: .95rem;
  font-weight: 600;
}
header nav ul li:nth-child(2){
  text-transform: uppercase;

}
header nav ul li:nth-child(3){
  color: var(--background-white-2);
  background-color: black;
  border-radius: 3px;
  text-transform: uppercase;
  font-size: .85rem;
}

/* -------------
Hero style
--------------- */
section#home {
  min-height: 100vh;
  padding: 0 35px;
  padding-top: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#home{
  height: 100%;
}
#home picture{
  position: absolute;
  left: 00%;
  top: 0%;
  bottom: 0%;
  right: 0%;
  z-index: -1;
}
#home picture img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#home .home_text{
  text-align: center;
  margin-top: 15%;
}
@media screen and (min-width: 768px) {
  .section_text{
    width: 70%;
  }
}
@media screen and (min-width: 1024px) {
  .section_text{
    width: 60%;
  }
  .section_text .section_paragraph{
    font-size: 1.25rem !important;
  }
}
@media screen and (min-width: 1280px) {
  .section_text{
    width: 50%;
  }
}
#home .home_text h1 img{
  max-width: 85%;
}
#home .home_text  .btn_main{
  display: block;
  background-color: var(--green-3);
  color: var(--global-nav-icon-background);
  border-radius: 5px;
  padding: 15px 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .85rem;
  margin: 25px auto 0px auto;
  transition: all ease-in-out .3s;
}
#home .home_text  .btn_main:hover{
  background-color:#04cd6a73;
}
#home .home_text  .section_policy{
  font-size: .625rem;
  margin: 15px auto 8px auto;
  display: block;
  color: var(--global-nav-text-color);
  font-weight: 700;
}
#home .home_text  .section_policy a{
  text-decoration: underline;
}
#home .home_text  .signInLink{
  display: block;
  font-weight: 700;
  text-decoration: underline;
}

.section_text{
  color: var(--background-white-2);
  margin: auto;
}
.section_text .section_subtitle{
  font-size: .8rem;
  letter-spacing: .125px;
  text-transform: uppercase;
  color: var(--green);
  margin-bottom: .7rem;
}
.section_text .section_paragraph{
  font-weight: 800;
  margin-top: .5rem;
}
.section_text .btn_main{}

#home .home_text:after{
  content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 180px;
    z-index: 1;
    background: linear-gradient(180deg, rgba(0,0,0,0.76) 15.54%, rgba(0,0,0,0.192) 60.23%, rgba(0,0,0,8e-05) 100%);
}

/* -------------
INCLUDE style
--------------- */
section#included {
  min-height: 100vh;
  padding: 45px 20px;
  text-align: center;
}
section#included .section_title{
  font-size: 2rem;
  font-weight: 600;
}
section#included .section_paragraph{
  font-size: .9rem;
  font-weight: 500;
}
.includ_items{
  display: grid;
  gap: 20px;
  grid-template: "aa bb";
  margin-top: 55px;
}

.include_card{
  position: relative;
}
.include_card img{
  display: block;
  margin-right: auto;
}
.include_card .card_text{
  position: absolute;
  color: var(--background-white-2);
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 15px;
  background-color: #00000061;
  text-align: left;
}
@media screen and (min-width: 780px) {
  #included .section_text{
    width: 70%;
  }
  #included .includ_items{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1024px) {
  #included .section_text{
    width: 65%;
  }
  #included .includ_items{
    width: 60%;
  }
  section#included {
    padding: 65px 20px !important;
  }
}
@media screen and (min-width: 1280px) {
  #included  .includ_items{
    grid-template: "aa bb cc dd";
    width: 90%;
  }
  #included .section_text{
    width: 70%;
  }
}
/* -------------
LIVE style
--------------- */
section#live {
  min-height: 100vh;
  padding: 45px 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#live .section_title{
  font-size: 1.9rem;
  font-weight: 700;
}
section#live .section_paragraph{
  font-size: .87rem;
  font-weight: 500;
}
section#live .section_text > a{
  font-size: .7rem;
  display: block;
  text-decoration: underline;
  letter-spacing: 1.5px;
  margin: 1.5rem auto;
}
@keyframes scroolTop {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0);
  }
}
section#live .section_text > a svg{
  position: relative;
  margin-top: 2rem;
  transform: translateY(0);
  animation: scroolTop infinite 1.8s;
}
@media screen and (min-width: 1280px) {
  section#live .section_text {
    width: 60%;
  }
  section#live .section_title {
    font-size: 2.9rem;
  }
  section#live .section_paragraph {
    font-size: 1.15rem !important;
  }
}
/* -------------
ACTIVITY style
--------------- */
section#activities {
  min-height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
section#activities .activity_container{
  background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    padding: 45px 8px;
    position: relative;
    min-height: 100vh;
    width: 100%;

}
.activy_01{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8) -39.59%, rgba(0, 0, 0, 0) 117.14%), url(../images/activity_01.jpg);
}
section#activities ul{
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 1rem;
  text-transform: uppercase;
  color: var(--global-nav-text-color);
  margin-bottom: 5rem;
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
section#activities ul span{
  position: absolute;
  top: 105%;
  left: 0%;
  height: .3rem;
  background-color: var(--white);
  width: 1px;
  transform: scaleX(1);
  transform-origin: left center;
  transition: all ease-in-out .3s;
}
section#activities ul li{
  font-size: .8rem;
  font-weight: 700;
  padding-bottom: .7rem;
  cursor: pointer;
  opacity: 1;
  transition: opacity ease .3s;
}
section#activities ul li:hover{
  opacity: .7;

}
section#activities ul li.active{
  color: var(--white);
}
section#activities .activity_item_text{
  transform: translateY(0px);
  opacity: 1;
  transition: transform ease-out .35s;
}
section#activities .activity_item_text.comming{
  transform: translateY(0px);
  opacity: 1;
}
section#activities .activity_item_text.going{
  transition-duration: 0s;
  opacity: 0;
  transform: translateY(20px);
}
section#activities .activity_item_text h1{
  color: white;
  font-size: 2rem;
}
.activity_item_text p{
  color: white;
  font-size: .86rem;
}
section#activities .activity_card_logos{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 2.5rem auto;
}
section#activities .activity_card_logos .logos_item{
  width: 60px;
  height: 60px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  padding: .2rem;
}

section#activities .activity_item_text .acticity_footer{
  font-size: .65rem;
  font-weight: 300;
  padding: 0 3rem;
}
section#activities .activity_item_text .acticity_footer a{
  text-decoration: underline;
}

@media screen and (min-width: 1024px) {
  section#activities .activity_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
  }
  section#activities ul{
    margin: 0 0 0 10rem !important;
  }
  section#activities .activity_item_text{
    text-align: left;
    margin: 0 0 0 10rem !important;
    width: 35%;
  }
  section#activities .activity_item_text .acticity_footer{
    padding: 0 0rem;
  }
  section#activities .activity_card_logos{
    justify-content: flex-start;
    margin: 1.6rem auto;
  }
}
/* -------------
PRICING style
--------------- */
section#pricing {
  min-height: 100vh;
  padding: 45px 20px;
  text-align: center;
}
section#pricing .pricing_text{
  margin-bottom: 3.5rem;
}
section#pricing .pricing_text h1{
  font-size: 2.1rem;
}
section#pricing .pricing_text p:first-of-type{
  font-weight: 500;
  font-size: 1.15rem;
}
section#pricing .pricing_text p:last-of-type{
  font-weight: 800;
}

section#pricing .plans .row.row_1 > span:first-of-type{
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 10px;
  text-transform: uppercase;
  font-size: 1.1rem;
  border-bottom: none;
}
section#pricing .plans .row.row_1 > span:first-of-type img{
  display: block;
  width: 35px;
  object-fit: cover;
  margin: .2rem auto;
  margin-top: 1.38rem;
}
section#pricing .plans .row.row_1 > span:first-of-type img.bundle{
  width: 160px;
  margin-top: .2rem;
}
section#pricing .plans .row.row_1 .change_plan{
  height: 32px;
  width: 70px;
  background: var(--black-5);
  border-radius: 100px;
  position: relative;
  transition: all ease .3s;
}
section#pricing .plans .row.row_1 .change_plan.changed{
  background-color: var(--green-2);
}
section#pricing .plans .row.row_1 .change_plan.changed span{
  left: 30px;
}
section#pricing .plans .row.row_1 .change_plan span{
  position: absolute;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  background: var(--background-white-2);
  left: -1px;
  top: 50%;
  transform: translateY(-50%);
  transition: all ease .3s;
}
section#pricing .plans .row.row_1  > span:first-of-type div:last-of-type{
  text-align: left;
}
section#pricing .plans .row.row_1{
  border-bottom: none;
}

section#pricing .plans .row.row_1 > span:not(:first-of-type) small{
  text-transform: uppercase;
    color: var(--black);
    background: var(--green-2);
    border-radius: 20px;
    padding: .2rem .4rem;
    line-height: 13px;
    display: block;
    font-weight: 700;
    font-size: .6rem;
    width: 100px;
    height: 18px;
    text-align: center;
    margin: .5rem auto;
}
section#pricing .plans .row.row_1 > span:not(:first-of-type) small.empty-badge{
  background-color: transparent;
}
section#pricing .plans .row.row_1 > span:not(:first-of-type) img{
  width: 160px;
  margin-top: .2rem;
}
section#pricing .plans .row.row_1 > span:not(:first-of-type) p{
  font-size: .6rem;
    text-transform: uppercase;
    margin: .5rem 0;
    font-weight: 600;
    color: var(--global-nav-text-color);
}
section#pricing .plans .row.row_1 > span:not(:first-of-type) h5{
  font-size: .8rem;
    margin: .5rem 0;
}
section#pricing .plans .row.row_1 > span:not(:first-of-type) button{
  display: block;
    width: 100%;
    padding: .3rem;
    outline: none;
    border: none;
    font-size: .8rem;
    font-weight: 700;
    border-radius: 4px;
}

section#pricing .plans .row.row_1 > span:not(:nth-of-type(3)){
  border-left: none;
  border-right: none;
}
section#pricing .plans .row.row_1 > span{
  border: solid 1px var(--black-5);
  padding: 1rem .5rem;
}
section#pricing .plans .row:nth-of-type(2){
  padding-top: 0 !important;
}
section#pricing .plans .row{
  display: grid;
  grid-template-areas: 'a a a' 'b c d';
  border-bottom: solid 1px var(--black-5);
  padding: .8rem 0;
}
section#pricing .plans .row.display_all{
  grid-template-areas: "a a a" "b c";
}
section#pricing .plans .row > span{
  padding: .5rem;
}
section#pricing .plans .row > span.empty{
  position: relative;
}
section#pricing .plans .row > span.empty::before{
  content: "";
  position: absolute;
  height: 5px;
  width: 15px;
  background-color: var(--black-4);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
section#pricing .plans .row > span:first-of-type{
  grid-area: a;
}
section#pricing .plans .row > span:nth-of-type(2){
  grid-area: b;
}
section#pricing .plans .row > span:nth-of-type(3){
  grid-area: c;
}
section#pricing .plans .row > span:last-of-type{
  grid-area: d;
  display: none;
}


@media screen and (min-width: 800px) {
  section#pricing .plans .row{
    grid-template-areas: "a b c";
    grid-template-columns: 400px auto auto;
  }
  section#pricing .plans .row.display_all{
    grid-template-areas: "a b c d";
    grid-template-columns: 400px auto auto auto;

  }
  section#pricing .plans .row > span:first-of-type{
    grid-area: a;
    text-align: left;
  }
  section#pricing .plans .row > span.footer{
    grid-area: a;
  }
  section#pricing .plans .row.row_1 > span:first-of-type{
    border-bottom: solid 1px var(--black-5);
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  section#pricing .plans .row.row_1 > span:not(:first-of-type) button {
    width: 200px;
    margin: 0 auto;
  }
}
/* -------------
FOOTER style
--------------- */
footer{
  padding: 30px 25px !important;
  background-color: var(--background-white-2);
  color: var(--global-nav-icon-background)
}
.footer_top > ul > li {
  border-bottom: solid 1px #272c341f;
  padding: 1rem .5rem;
  transition: all ease-out .6s;
}
.footer_top > ul > li.show span{
  margin-bottom: .5rem;
}
.footer_top > ul > li.show span img{
  transform: rotateX(180deg);
}
.footer_top > ul > li.show > ul{
  margin-bottom: .5rem;
  display: block;
}
.footer_top > ul > li span{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  font-size: .9rem;
  font-weight: 600;
  color: var(--black-3);
  text-transform: uppercase;
}
.footer_top > ul > li img{
  width: 20px;
  transition: all ease-out .6s;
}
.footer_top > ul > li > ul{
  display: none;
}
.footer_top > ul > li ul li a{
  font-size: .8rem;
  text-transform: capitalize;
}
.footer_top > ul > li > ul > li{
  margin-top: .7rem;
}

.footer_bottom {
  border-top: solid 1px #272c341f;
  margin-top: 1.5rem;
  padding-top: 2rem;
}
.footer_bottom .footer_icons{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 25px;
  margin-bottom: 2rem;
}
.footer_bottom .footer_icons img{
  width: 15px;
  height: 15px;
}
.footer_bottom .copyright{
  display: flex;
  flex-wrap: wrap;
  column-gap: 25px;
  row-gap: 10px;
}
.footer_bottom .copyright span{
  display: block;
  width: fit-content;
  text-transform: capitalize;
  font-size: .75rem;

}
.footer_bottom .copyright .copyright_text._01{
  display: none;
}

@media screen and (min-width: 500px) {
  .footer_top > ul > li > ul > li{
    margin-top: 0rem;
  }
  .footer_top > ul > li > ul > li ul li  a{
    word-break: break-word;
    display: block;
    max-width: 190px;
  }
  .footer_top > ul > li > ul{
    display: flex !important;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }
  .footer_top > ul > li img{
    display: none;
  }
  .footer_top > ul > li span{
    margin-bottom: .5rem;
  }
  
}
@media screen and (min-width: 964px) {
  .footer_top > ul{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
  }
  .footer_top > ul > li{
    border-bottom: none;
  }
  .footer_top > ul > li:not(:first-of-type) ul{
    display: block !important;
  }
  .footer_top > ul > li:first-of-type > ul{
    column-gap: 25px;
  }
  .footer_top > ul > li ul li a{
    font-size: .95rem;
    margin-bottom: .4rem;
    display: block;
  }
  .footer_bottom{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 5rem;
    padding-left: 4rem;
  }
  
}
@media screen and (min-width: 1050px) {
  .footer_bottom{
    padding-right: 6rem;
    padding-left: 6rem;
  }
  
}
@media screen and (min-width: 1250px) {
  .footer_top > ul > li:first-of-type > ul{
    min-width: 600px
  }
  .footer_bottom{
    padding-right: 6rem;
    padding-left: 9rem;
  }
  
}

@media screen and (min-width: 1450px) {
  section:not(#activities),
  footer, 
  header,
  section#activities .activity_container,
  section#included ,
  section#pricing{
    padding-left: calc(50% - 600px) !important;
    padding-right: calc(50% - 600px) !important;
  }
  
}